// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
@mixin theme($colorPrimary, $colorLight: null, $colorDark: null, $colorMid: null) {
    .split-banner--content {
        background-color: $colorPrimary;
    }
    
    .subnav {
        &:before {
            background-color: $colorDark;
        }
          &__link {
            &.active-tab {
            color: $colorPrimary;
            background-color: $colorLight;
                &:hover {
                color: $colorPrimary;
                background-color: $colorLight;
                }
            }
        }
    }

    .prod-desc {
        li {
          &:before {
            color: $colorMid;
          }
        }
      }


      .toggle:hover {
        color: $colorPrimary;
        background-color: $colorLight;
      }

    }



.grape-0 {
    @include theme($grape-3, $grape-1, $grape-4, $grape-2)
}
.ocean-0 {
    @include theme($ocean-3, $ocean-1, $ocean-4, $ocean-2)
}
.tundra-0 {
    @include theme($tundra-3, $tundra-1, $tundra-4, $tundra-2)
}
.jungle-0 {
  @include theme($jungle-3, $jungle-1, $jungle-4, $jungle-2)
}
.pumpkin-0 {
  @include theme($pumpkin-3, $pumpkin-1, $pumpkin-4, $pumpkin-2)
}
