:root {
  --btn-font-size: 2rem;
  --btn-font-size-sm: 0.8em;
  --btn-font-size-md: 1.2em;
  --btn-font-size-lg: 1.4em;
  --btn-padding-x: var(--space-md);
  --btn-padding-y: var(--space-unit);
  --btn-radius: 0.25em;
  --btn-height-md: 40px;
  --btn-height-lg: 56px;
}

.btn,
a.btn {
  // basic button style
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: 600 !important;
  text-decoration: none;
  box-shadow: 0px 2px 8px 0 alpha(var(--color-black), 0.12),
    0px 1px 1px 0 alpha(var(--color-black), 0.12);
  transition: all 0.3s ease;
  font-size: var(--btn-font-size, 2rem);
  padding-top: var(--btn-padding-y, 0.5em);
  padding-bottom: var(--btn-padding-y, 0.5em);
  padding-left: var(--btn-padding-x, 0.75em);
  padding-right: var(--btn-padding-x, 0.75em);
  border-radius: var(--btn-radius, 0.25em);
  &:hover {
    box-shadow: 0px 1px 2px 0 alpha(var(--color-black), 0.12),
      0px 1px 1px 0 alpha(var(--color-black), 0.12);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-black), 0.2);
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}

// themes
.btn,
a.btn {
  background-color: var(--color-contrast-higher);
  color: var(--color-bg);
  @include fontSmooth;
  border: none !important;
  &:hover {
    background-color: var(--color-contrast-high);
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

// themes
.btn--primary,
a.btn--primary {
  background-color: var(--color-primary) !important;
  color: var(--color-bg) !important;
  @include fontSmooth;
  &:hover {
    background-color: var(--color-primary-light) !important;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

.btn--subtle,
a.btn--subtle {
  background-color: var(--color-contrast-lower) !important;
  color: var(--color-contrast-higher) !important;
  &:hover {
    background-color: var(--color-contrast-low) !important;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

.btn--accent,
a.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-bg);
  @include fontSmooth;
  &:hover {
    background-color: var(--color-accent-light);
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-accent), 0.2);
  }
}

// feedback
.btn--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

// size
.btn--sm {
  font-size: var(--btn-font-size-sm, 0.8em);
}
.btn--md {
  font-size: var(--btn-font-size-md, 1.2em);
}
.btn--lg {
  font-size: var(--btn-font-size-lg, 1.4em);
}

// btn with icon (only)
.btn--icon {
  padding: var(--btn-padding-y, 0.5em);
}

// -----------------------------------------------------------------------------
// My Own
// -----------------------------------------------------------------------------
@mixin btn($background, $color) {
  border: 3px solid rgba(255, 255, 255, 0) !important; // You'll want to customize this
  color: $color !important;
  background: $background !important;
  &:hover,
  &:focus,
  &:active {
    color: $background !important;
    background: $color !important;
    border-color: $background !important;
  }
  &.-hollow {
    background: none !important;
    color: $background !important;
    border: 3px solid $background !important; // The thickness should correspond with the thickness set above
    &:hover,
    &:focus,
    &:active {
      color: $color !important;
      background: $background !important;
    }
  }
}
// End Mixin

// Using the mixin
.button,
.lightbox-text-link {
  transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out,
    color 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

  &.-primary {
    @include btn(var(--color-primary), var(--color-bg));
  }
  &.-light {
    @include btn(var(--color-bg), var(--color-contrast-higher));
  }
  &.-dark {
    @include btn(var(--color-contrast-higher), var(--color-bg));
  }
  &.-disabled {
    color: var(--color-contrast-higher) !important;
    background: var(--color-contrast-medium) !important;
    border-color: var(--color-contrast-medium) !important;
    cursor: default !important;
  }
  &.-shine {
    @include btn(var(--color-contrast-higher), var(--color-bg));
  }
}

.lightbox-text-link {
  @include btn(var(--color-contrast-higher), var(--color-bg));
}

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

@mixin links($type) {
  @if $type == "button" {
    white-space: nowrap;
    height: var(--btn-height-lg) !important;

    font-weight: 600 !important;
    letter-spacing: -0.03em !important;
  }
  @if $type == "hyperlink" {
  }
}
/* #Buttons
================================================== */

a.button,
.button,
.banners a,
.lightbox-text-link,
input[type="submit"],
input[type="reset"],
input[type="button"],
.action_button,
a.action_button,
input.action_button[type="submit"],
input.action_button[type="button"],
input.action_button[type="button"],
button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
  @include links("button");
}
