:root {
  --btn-font-size: 2rem;
  --btn-font-size-sm: 0.8em;
  --btn-font-size-md: 1.2em;
  --btn-font-size-lg: 1.4em;
  --btn-padding-x: var(--space-md);
  --btn-padding-y: var(--space-unit);
  --btn-radius: 0.25em;
  --btn-height-md: 40px;
  --btn-height-lg: 56px;
}

@mixin btn($bg: var(--color-contrast-high), $color: var(--color-bg)) {
  background-color: $bg !important;
  color: $color !important;
  &:hover,
  &:focus,
  &:active {
    background-color: lightness($bg, 1.15) !important;
  }
}

// themes
.btn,
a.btn {
  @include fontSmooth;
  border: none !important;
  // basic button style
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: 600 !important;
  text-decoration: none;
  box-shadow: 0px 2px 8px 0 alpha(var(--color-black), 0.12),
    0px 1px 1px 0 alpha(var(--color-black), 0.12);
  transition: all 0.3s ease;
  font-size: var(--btn-font-size, 2rem);
  padding: var(--btn-padding-y, 0.5em) var(--btn-padding-x, 0.75em);
  border-radius: var(--btn-radius, 0.25em);
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  &:hover {
    box-shadow: 0px 1px 2px 0 alpha(var(--color-black), 0.12),
      0px 1px 1px 0 alpha(var(--color-black), 0.12);
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-black), 0.2);
    outline: none;
  }
  &:active {
    transform: translateY(2px);
  }
  &--primary {
    @include btn(var(--color-primary));
  }
  &--accent {
    @include btn(var(--color-accent));
  }
  &--kickstarter {
    @include btn(#028858);
  }
  &--subtle {
    @include btn(var(--color-contrast-lower), var(--color-contrast-higher));
  }
  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

// size
.btn--sm {
  font-size: var(--btn-font-size-sm, 0.8em);
}
.btn--md {
  font-size: var(--btn-font-size-md, 1.2em);
}
.btn--lg {
  font-size: var(--btn-font-size-lg, 1.4em);
}

// btn with icon (only)
.btn--icon {
  padding: var(--btn-padding-y, 0.5em);
}

// -----------------------------------------------------------------------------
// My Own
// -----------------------------------------------------------------------------

.lightbox-text-link {
  @include btn(var(--color-contrast-higher), var(--color-bg));
}

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

@mixin links($type) {
  @if $type == "button" {
    white-space: nowrap;
    height: var(--btn-height-lg) !important;

    font-weight: 600 !important;
    letter-spacing: -0.03em !important;
  }
  @if $type == "hyperlink" {
  }
}
/* #Buttons
================================================== */

a.button,
.button,
.banners a,
.lightbox-text-link,
input[type="submit"],
input[type="reset"],
input[type="button"],
.action_button,
a.action_button,
input.action_button[type="submit"],
input.action_button[type="button"],
input.action_button[type="button"],
button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
  @include links("button");
}
