:root {
  // size
  --icon-xxs: 12px;
  --icon-xs: 16px;
  --icon-sm: 24px;
  --icon-md: 32px;
  --icon-lg: 48px;
  --icon-xl: 64px;
  --icon-xxl: 128px;

  --icon-cta: var(--color-primary);
  --icon-accent: var(--color-primary-light);
}

.icon {
  display: inline-block;
  color: inherit;
  fill: currentColor;
  width: 1em;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

/*
.icon {
  float: left;
  //rm margin-right: 10px;
  width: 20px;
  text-align: center;
  position: relative;
  font-size: 16px;
  &--lg {
    //rm font-size: 36px ;
  }
}
*/

// icon size
.icon--xxs {
  font-size: var(--icon-xxs) !important;
}
.icon--xs {
  font-size: var(--icon-xs) !important;
}
.icon--sm {
  font-size: var(--icon-sm) !important;
}
.icon--md {
  font-size: var(--icon-md) !important;
}
.icon--lg {
  font-size: var(--icon-lg) !important;
}
.icon--xl {
  font-size: var(--icon-xl) !important;
}
.icon--xxl {
  font-size: var(--icon-xxl) !important;
}

.icon--is-spinning {
  // rotate the icon infinitely
  animation: icon-spin 1s infinite linear;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// --------------------------------

// SVG <symbol>

// --------------------------------

// enable icon color corrections
.icon use {
  color: inherit;
  fill: currentColor;
}

// themes
.icon--cta {
  color: var(--color-accent) !important;
}

.icon--display {
  color: var(--color-primary-light) !important;
  .material-icons-two-tone {
    filter: invert(73%) sepia(24%) saturate(676%) hue-rotate(164deg)
      brightness(95%) contrast(89%);
  }
}

.icon--default {
  color: var(--color-contrast-medium) !important;
  .material-icons-two-tone {
    filter: invert(56%) sepia(19%) saturate(306%) hue-rotate(177deg)
      brightness(91%) contrast(87%);
  }
}
