:root {
  // font family
  --font-primary: "cp", Frutiger, "Frutiger Linotype", Univers, Calibri,
    "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
    "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
    Helvetica, Arial, sans-serif !important;
  // body font size
  --text-base-size: 1rem;
  // type scale
  --text-scale-ratio: 1.2;

  @include breakpoint(md) {
    --text-base-size: 1.2rem;
    --text-scale-ratio: 1.25;
  }

  --text-xs: calc((1rem / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

  // letter-spacing
  --letter-spacing-tight: -0.03em;

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
}

body {
  font-size: var(--text-base-size, 1em);
  font-family: var(--font-primary, sans-serif);
  color: var(--color-contrast-high, hsl(240, 4%, 20%));
}

h1,
h2,
h3,
h4 {
  color: var(--color-contrast-higher, hsl(240, 8%, 12%));
  line-height: var(--heading-line-height, 1.2);
  letter-spacing: var(--letter-spacing-tight);
}

// font size
.text-xxxxl {
  font-size: var(--text-xxxxl, 3em);
}

.text-xxxl {
  font-size: var(--text-xxxl, 2.488em);
}

h1,
.text-xxxl {
  font-size: var(--text-xxl, 2.074em);
  @include lhCrop(
    var(--heading-line-height),
    var(--font-secondary-capital-letter)
  );
}

h2,
.text-xxl {
  font-size: var(--text-xl, 1.728em);
}

.text-xl {
  font-size: var(--text-xl, 1.728em);
}

h3,
.text-lg {
  font-size: var(--text-lg, 1.44em);
}

h4,
.text-md {
  font-size: var(--text-md, 1.2em);
}

.text-base {
  font-size: 1em;
}

small,
.text-sm {
  font-size: var(--text-sm, 0.833em);
}

.text-xs {
  font-size: var(--text-xs, 0.694em);
}

// inline text
a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--color-contrast-higher);
}
a:hover {
  color: var(--color-contrast-medium);
}
.nav a:hover {
  color: var(--color-link-hover);
}

.svg_logo {
  fill: var(--color-primary) !important;
}

.link {
  color: var(--color-link);
  text-decoration: underline;
  &:hover {
    color: var(--color-link-hover);
  }
}

strong {
  font-weight: bold;
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

.text-component {
  div {
    font-size: calc((100%) * 1.2);
    line-height: calc(
      var(--body-line-height) * var(--line-height-multiplier, 1)
    );
    margin-bottom: var(--space-md);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: calc(
      var(--heading-line-height) * var(--line-height-multiplier, 1)
    );
    margin-bottom: calc(
      var(--space-unit) * 0.25 * var(--text-vspace-multiplier, 1)
    );
  }

  h2,
  h3,
  h4 {
    margin-top: calc(
      var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1)
    );
  }

  p,
  blockquote,
  ul li,
  ol li {
    line-height: calc(
      var(--body-line-height) * var(--line-height-multiplier, 1)
    );
  }

  ul,
  ol,
  p,
  blockquote,
  .text-component__block {
    margin-bottom: calc(
      var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1)
    );
  }

  ul,
  ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  figcaption {
    text-align: center;
    margin-top: calc(var(--space-unit) * 0.5);
  }

  em {
    font-style: italic;
  }

  hr {
    margin-top: calc(var(--space-unit) * 2 * var(--text-vspace-multiplier, 1));
    margin-bottom: calc(
      var(--space-unit) * 2 * var(--text-vspace-multiplier, 1)
    );
    margin-left: auto;
    margin-right: auto;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

// text block container
.text-component__block--full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@include breakpoint(sm) {
  .text-component__block--left,
  .text-component__block--right {
    width: 45%;

    img {
      width: 100%;
    }
  }

  .text-component__block--left {
    float: left;
    margin-right: calc(
      var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1)
    );
  }

  .text-component__block--right {
    float: right;
    margin-left: calc(
      var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1)
    );
  }
}

// outset content
@include breakpoint(xl) {
  .text-component__block--outset {
    width: calc(100% + 10.5 * var(--space-unit));

    img {
      width: 100%;
    }
  }

  .text-component__block--outset:not(.text-component__block--right) {
    margin-left: calc(-5.25 * var(--space-unit));
  }

  .text-component__block--left,
  .text-component__block--right {
    width: 50%;
  }

  .text-component__block--right.text-component__block--outset {
    margin-right: calc(-5.25 * var(--space-unit));
  }
}
