:root,
[data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 204, 67%, 26%);
  @include defineColorHSL(--color-primary-dark, 204, 67%, 36%);
  @include defineColorHSL(--color-primary, 204, 67%, 48%);
  @include defineColorHSL(--color-primary-light, 204, 67%, 70%);
  @include defineColorHSL(--color-primary-lighter, 204, 50%, 90%);

  @include defineColorHSL(--color-accent-darker, 19, 69%, 26%);
  @include defineColorHSL(--color-accent-dark, 19, 69%, 36%);
  @include defineColorHSL(--color-accent, 19, 69%, 46%);
  @include defineColorHSL(--color-accent-light, 19, 69%, 56%);
  @include defineColorHSL(--color-accent-lighter, 19, 69%, 66%);

  @include defineColorHSL(--color-secondary-darker, 27, 31%, 55%);
  @include defineColorHSL(--color-secondary-dark, 27, 31%, 65%);
  @include defineColorHSL(--color-secondary, 27, 31%, 75%);
  @include defineColorHSL(--color-secondary-light, 27, 31%, 85%);
  @include defineColorHSL(--color-secondary-lighter, 30, 17%, 93%);

  @include defineColorHSL(--color-tertiary-darker, 356, 39%, 18%);
  @include defineColorHSL(--color-tertiary-dark, 356, 39%, 28%);
  @include defineColorHSL(--color-tertiary, 356, 39%, 38%);
  @include defineColorHSL(--color-tertiary-light, 356, 39%, 48%);
  @include defineColorHSL(--color-tertiary-lighter, 356, 39%, 58%);

  @include defineColorHSL(--color-quaternary-darker, 85, 9%, 21%);
  @include defineColorHSL(--color-quaternary-dark, 85, 9%, 31%);
  @include defineColorHSL(--color-quaternary, 85, 9%, 41%);
  @include defineColorHSL(--color-quaternary-light, 85, 9%, 51%);
  @include defineColorHSL(--color-quaternary-lighter, 85, 9%, 61%);

  @include defineColorHSL(--color-black, 240, 8%, 12%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 38, 88%, 34%);
  @include defineColorHSL(--color-warning-dark, 44, 90%, 52%);
  @include defineColorHSL(--color-warning, 46, 86%, 75%);
  @include defineColorHSL(--color-warning-light, 46, 86%, 85%);
  @include defineColorHSL(--color-warning-lighter, 46, 86%, 95%);

  @include defineColorHSL(--color-success-darker, 167, 100%, 4%);
  @include defineColorHSL(--color-success-dark, 167, 100%, 14%);
  @include defineColorHSL(--color-success, 167, 100%, 24%);
  @include defineColorHSL(--color-success-light, 167, 50%, 80%);
  @include defineColorHSL(--color-success-lighter, 167, 100%, 95%);

  @include defineColorHSL(--color-error-darker, 5, 66%, 28%);
  @include defineColorHSL(--color-error-dark, 5, 66%, 38%);
  @include defineColorHSL(--color-error, 5, 66%, 48%);
  @include defineColorHSL(--color-error-light, 5, 66%, 58%);
  @include defineColorHSL(--color-error-lighter, 5, 66%, 68%);

  // color contrasts
  @include defineColorHSL(--color-bg, 0, 0%, 97%);
  @include defineColorHSL(--color-contrast-lower, 220, 8%, 93%);
  @include defineColorHSL(--color-contrast-low, 216, 12%, 83%);
  @include defineColorHSL(--color-contrast-medium, 216, 12%, 54%);
  @include defineColorHSL(--color-contrast-high, 214, 25%, 33%);
  @include defineColorHSL(--color-contrast-higher, 211, 50%, 21%);

  --color-max: var(--color-white);

  // componenents
  --bg-header: var(--color-white);
  --bg-header-accent: var(--color-bg);
  --bg-promo-bar: var(--color-primary);
  --bg-footer: var(--color-contrast-higher);

  //brands
  --forbes: linear-gradient(265.99deg, #3a6da7 0%, #103763 100%);
  --discovery-channel: linear-gradient(265.99deg, #1575c5 0%, #005195 100%);
  --rei: rgb(0, 78, 0);
  --national-geographic: linear-gradient(265.99deg, #ffd520 0%, #e3a400 100%);
  --inc: linear-gradient(265.99deg, #ff3b00 0%, #ac3e00 100%);
  --fortune: #000;
  --ces: linear-gradient(
    90deg,
    #47a1de 1.47%,
    #68cef6 30.21%,
    #55c496 66.44%,
    #d4e613 100%
  );
  --top-chef: linear-gradient(265.99deg, #f99c37 0%, #dd7300 100%);
  --tech-crunch: linear-gradient(265.99deg, #0a9e01 0%, #055700 100%);
}

@supports (--css: variables) {
  [data-theme="dark"],
  [data-theme="dark-1"] {
    // main
    @include defineColorHSL(--color-primary-darker, 204, 50%, 90%);
    @include defineColorHSL(--color-primary-dark, 204, 67%, 70%);
    @include defineColorHSL(--color-primary, 204, 67%, 48%);
    @include defineColorHSL(--color-primary-light, 204, 67%, 36%);
    @include defineColorHSL(--color-primary-lighter, 204, 67%, 26%);

    @include defineColorHSL(--color-accent-darker, 19, 95%, 84%);
    @include defineColorHSL(--color-accent-dark, 19, 92%, 75%);
    @include defineColorHSL(--color-accent, 19, 95%, 64%);
    @include defineColorHSL(--color-accent-light, 27, 95%, 42%);
    @include defineColorHSL(--color-accent-lighter, 19, 95%, 30%);

    @include defineColorHSL(--color-secondary-darker, 27, 31%, 55%);
    @include defineColorHSL(--color-secondary-dark, 27, 31%, 65%);
    @include defineColorHSL(--color-secondary, 27, 31%, 75%);
    @include defineColorHSL(--color-secondary-light, 27, 31%, 85%);
    @include defineColorHSL(--color-secondary-lighter, 27, 31%, 95%);

    @include defineColorHSL(--color-tertiary-darker, 85, 9%, 21%);
    @include defineColorHSL(--color-tertiary-dark, 85, 9%, 31%);
    @include defineColorHSL(--color-tertiary, 85, 9%, 41%);
    @include defineColorHSL(--color-tertiary-light, 85, 9%, 51%);
    @include defineColorHSL(--color-tertiary-lighter, 85, 9%, 61%);

    @include defineColorHSL(--color-quaternary-darker, 197, 40%, 19%);
    @include defineColorHSL(--color-quaternary-dark, 197, 40%, 29%);
    @include defineColorHSL(--color-quaternary, 197, 40%, 39%);
    @include defineColorHSL(--color-quaternary-light, 197, 40%, 49%);
    @include defineColorHSL(--color-quaternary-lighter, 197, 40%, 59%);

    @include defineColorHSL(--color-black, 240, 8%, 12%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-warning-darker, 51, 98%, 84%);
    @include defineColorHSL(--color-warning-dark, 41, 100%, 71%);
    @include defineColorHSL(--color-warning, 35, 93%, 66%);
    @include defineColorHSL(--color-warning-light, 21, 61%, 52%);
    @include defineColorHSL(--color-warning-lighter, 6, 48%, 36%);

    @include defineColorHSL(--color-success-darker, 117, 79%, 89%);
    @include defineColorHSL(--color-success-dark, 134, 71%, 78%);
    @include defineColorHSL(--color-success, 160, 100%, 39%);
    @include defineColorHSL(--color-success-light, 164, 100%, 27%);
    @include defineColorHSL(--color-success-lighter, 177, 100%, 16%);

    @include defineColorHSL(--color-error-darker, 24, 100%, 81%);
    @include defineColorHSL(--color-error-dark, 15, 100%, 73%);
    @include defineColorHSL(--color-error, 7, 100%, 67%);
    @include defineColorHSL(--color-error-light, 354, 57%, 48%);
    @include defineColorHSL(--color-error-lighter, 337, 76%, 26%);

    @include defineColorHSL(--color-info-darker, 181, 96%, 82%);
    @include defineColorHSL(--color-info-dark, 189, 82%, 60%);
    @include defineColorHSL(--color-info, 198, 76%, 50%);
    @include defineColorHSL(--color-info-light, 201, 100%, 34%);
    @include defineColorHSL(--color-info-lighter, 205, 100%, 27%);

    // color contrasts
    @include defineColorHSL(--color-bg, 211, 50%, 21%);
    @include defineColorHSL(--color-contrast-lower, 212, 39%, 25%);
    @include defineColorHSL(--color-contrast-low, 213, 26%, 33%);
    @include defineColorHSL(--color-contrast-medium, 218, 18%, 52%);
    @include defineColorHSL(--color-contrast-high, 219, 12%, 72%);
    @include defineColorHSL(--color-contrast-higher, 220, 9%, 93%);

    --color-max: hsl(211, 55%, 18%);

    --bg-header: var(--color-max);
    --bg-header-accent: var(--color-bg);
    --bg-promo-bar: var(--color-primary);
    --bg-footer: var(--color-max);
  }

  [data-theme="organic"] {
    // main
    @include defineColorHSL(--color-primary-darker, 356, 39%, 18%);
    @include defineColorHSL(--color-primary-dark, 356, 39%, 28%);
    @include defineColorHSL(--color-primary, 356, 39%, 38%);
    @include defineColorHSL(--color-primary-light, 356, 39%, 48%);
    @include defineColorHSL(--color-primary-lighter, 27, 31%, 85%);

    @include defineColorHSL(--color-accent-darker, 19, 69%, 26%);
    @include defineColorHSL(--color-accent-dark, 19, 69%, 36%);
    @include defineColorHSL(--color-accent, 19, 69%, 46%);
    @include defineColorHSL(--color-accent-light, 19, 69%, 56%);
    @include defineColorHSL(--color-accent-lighter, 19, 69%, 66%);

    @include defineColorHSL(--color-secondary-darker, 27, 31%, 55%);
    @include defineColorHSL(--color-secondary-dark, 27, 31%, 65%);
    @include defineColorHSL(--color-secondary, 27, 31%, 75%);
    @include defineColorHSL(--color-secondary-light, 27, 31%, 85%);
    @include defineColorHSL(--color-secondary-lighter, 30, 17%, 93%);

    @include defineColorHSL(--color-tertiary-darker, 85, 9%, 21%);
    @include defineColorHSL(--color-tertiary-dark, 85, 9%, 31%);
    @include defineColorHSL(--color-tertiary, 85, 9%, 41%);
    @include defineColorHSL(--color-tertiary-light, 85, 9%, 51%);
    @include defineColorHSL(--color-tertiary-lighter, 85, 9%, 61%);

    @include defineColorHSL(--color-quaternary-darker, 197, 40%, 19%);
    @include defineColorHSL(--color-quaternary-dark, 197, 40%, 29%);
    @include defineColorHSL(--color-quaternary, 197, 40%, 39%);
    @include defineColorHSL(--color-quaternary-light, 197, 40%, 49%);
    @include defineColorHSL(--color-quaternary-lighter, 197, 40%, 59%);

    @include defineColorHSL(--color-black, 240, 8%, 12%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-warning-darker, 46, 86%, 55%);
    @include defineColorHSL(--color-warning-dark, 46, 86%, 65%);
    @include defineColorHSL(--color-warning, 46, 86%, 75%);
    @include defineColorHSL(--color-warning-light, 46, 86%, 85%);
    @include defineColorHSL(--color-warning-lighter, 46, 86%, 95%);

    @include defineColorHSL(--color-success-darker, 167, 100%, 4%);
    @include defineColorHSL(--color-success-dark, 167, 100%, 14%);
    @include defineColorHSL(--color-success, 167, 100%, 24%);
    @include defineColorHSL(--color-success-light, 167, 50%, 80%);
    @include defineColorHSL(--color-success-lighter, 167, 100%, 95%);

    @include defineColorHSL(--color-error-darker, 5, 66%, 28%);
    @include defineColorHSL(--color-error-dark, 5, 66%, 38%);
    @include defineColorHSL(--color-error, 5, 66%, 48%);
    @include defineColorHSL(--color-error-light, 5, 66%, 58%);
    @include defineColorHSL(--color-error-lighter, 5, 66%, 68%);

    // color contrasts
    @include defineColorHSL(--color-bg, 0, 0%, 97%);
    @include defineColorHSL(--color-contrast-lower, 0, 0%, 92%);
    @include defineColorHSL(--color-contrast-low, 240, 1%, 81%);
    @include defineColorHSL(--color-contrast-medium, 240, 2%, 47%);
    @include defineColorHSL(--color-contrast-high, 240, 5%, 20%);
    @include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);

    // componenents
    --bg-header: var(--color-white);
    --bg-header-accent: var(--color-bg);
    --bg-promo-bar: var(--color-primary);

    --color-link: var(--color-secondary);
    --color-max: var(--color-white);

    //brands
    --forbes: #33629a;
    --discovery-channel: #1575c5;
    --rei: rgb(0, 78, 0);
    --national-geographic: #ffce00;
    --inc: rgb(255, 59, 0);
    --fortune: #000;
    --ces: linear-gradient(
      90deg,
      #47a1de 1.47%,
      #68cef6 30.21%,
      #55c496 66.44%,
      #d4e613 100%
    );
  }
}

body,
[data-theme="default"],
[data-theme="dark-1"],
[data-theme="grape"] {
  // font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // componenents
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-dark);
}

// background-color
.bg-secondary-darker {
  background-color: alpha(var(--color-secondary-darker), var(--bg-o, 1));
}
.bg-secondary-dark {
  background-color: alpha(var(--color-secondary-dark), var(--bg-o, 1));
}
.bg-secondary {
  background-color: alpha(var(--color-secondary), var(--bg-o, 1));
}
.bg-secondary-light {
  background-color: alpha(var(--color-secondary-light), var(--bg-o, 1));
}
.bg-secondary-lighter {
  background-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1));
}
.bg-tertiary-darker {
  background-color: alpha(var(--color-tertiary-darker), var(--bg-o, 1));
}
.bg-tertiary-dark {
  background-color: alpha(var(--color-tertiary-dark), var(--bg-o, 1));
}
.bg-tertiary {
  background-color: alpha(var(--color-tertiary), var(--bg-o, 1));
}
.bg-tertiary-light {
  background-color: alpha(var(--color-tertiary-light), var(--bg-o, 1));
}
.bg-tertiary-lighter {
  background-color: alpha(var(--color-tertiary-lighter), var(--bg-o, 1));
}
.bg-quaternary-darker {
  background-color: alpha(var(--color-quaternary-darker), var(--bg-o, 1));
}
.bg-quaternary-dark {
  background-color: alpha(var(--color-quaternary-dark), var(--bg-o, 1));
}
.bg-quaternary {
  background-color: alpha(var(--color-quaternary), var(--bg-o, 1));
}
.bg-quaternary-light {
  background-color: alpha(var(--color-quaternary-light), var(--bg-o, 1));
}
.bg-quaternary-lighter {
  background-color: alpha(var(--color-quaternary-lighter), var(--bg-o, 1));
}

// border-color
.border-secondary-darker {
  border-color: alpha(var(--color-secondary-darker), var(--bg-o, 1));
}
.border-secondary-dark {
  border-color: alpha(var(--color-secondary-dark), var(--bg-o, 1));
}
.border-secondary {
  border-color: alpha(var(--color-secondary), var(--bg-o, 1));
}
.border-secondary-light {
  border-color: alpha(var(--color-secondary-light), var(--bg-o, 1));
}
.border-secondary-lighter {
  border-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1));
}
.border-tertiary-darker {
  border-color: alpha(var(--color-tertiary-darker), var(--bg-o, 1));
}
.border-tertiary-dark {
  border-color: alpha(var(--color-tertiary-dark), var(--bg-o, 1));
}
.border-tertiary {
  border-color: alpha(var(--color-tertiary), var(--bg-o, 1));
}
.border-tertiary-light {
  border-color: alpha(var(--color-tertiary-light), var(--bg-o, 1));
}
.border-tertiary-lighter {
  border-color: alpha(var(--color-tertiary-lighter), var(--bg-o, 1));
}
.border-quaternary-darker {
  border-color: alpha(var(--color-quaternary-darker), var(--bg-o, 1));
}
.border-quaternary-dark {
  border-color: alpha(var(--color-quaternary-dark), var(--bg-o, 1));
}
.border-quaternary {
  border-color: alpha(var(--color-quaternary), var(--bg-o, 1));
}
.border-quaternary-light {
  border-color: alpha(var(--color-quaternary-light), var(--bg-o, 1));
}
.border-quaternary-lighter {
  border-color: alpha(var(--color-quaternary-lighter), var(--bg-o, 1));
}
