include /pug/_help/_mixins

// START: Top-level Description 
+description("p","| The Go is our most portable solar oven ever. Using just the Sun, this ultralight solar cooker can bake, roast, steam, and boil anywhere.| Solar Cooking in clouds and cold? No problem. Breakthrough solar technology that's fast, reliable and portable.")
+ul-string("Weight: 2 lbs (0.9kg), Max temperature: 550&deg;F (290&deg;C), Cooks most meals in 20-30 minutes, Boils 14oz of water")   
+uses("Backpacking", "Boating", "Beach", "Emergency")
// END: Top-level Description 

// split








// START: Tabs 

//- START: Videos [tab]  
+tabs("Videos", "https://www.youtube.com/embed/zBbN9Ce-xV4?controls=0")
//- END: Videos [tab] 

// END: Tabs  


h5.overviewSection-contentDescription
  span.overviewSection-contentText(data-v-68d52f4e='') Features
table.two-up.features(width='100%')
  tbody
    tr
      td(style='width: 8.90707%;')
        ol
          li Cap for Boiling Mode
          li Insulated Lid
          li Cooking Tray
          li Cooking Pans
          li Reflectors
          li Vacuum Tube
          li Clamshell Case
          li Gearloop
          li Universal Action Mount
          li Bracket with Kickstand
          li Zipper
      td(style='width: 8.90707%;')
        img(src='//cdn2.shopify.com/s/files/1/0789/1333/files/Features-3_large.png?v=1563327291' alt='')

h5.overviewSection-contentDescription
  span.overviewSection-contentText(data-v-68d52f4e='') Specs
table.three-up.table-format(width='100%')
  tbody
    tr
      td Dimensions
      td.compare-active Usage
      td Materials
    tr
      td
        span(style='font-weight: 400;') Weight: 2 lb (0.9 kg)
      td.compare-active Power source: Sun
      td EVA
    tr
      td
        span(style='font-weight: 400;') Capacity: 420 ml (14 oz)
      td.compare-active Power output: 50+ Watts
      td Aluminum
    tr
      td Body: 14&quot; x 10&quot; x 7&quot;
      td.compare-active
        | Max temp: 
        span.a-list-item 550&deg;F (290&deg;C)
      td Stainless Steel
    tr
      td Cooking Tray: 1.65&quot; x 11&quot;
      td.compare-active
      td Borosilicate Glass
    tr
      td
      td.compare-active
      td Silicone
    tr
      td
      td.compare-active
      td ABS Plastic
h5
h5 Compare
table.five-up.compare.table-format(width='100%')
  tbody
    tr
      td  
      td.compare-active Go
      td
        a(href='https://www.gosun.co/products/sport' title='Sport') Sport
      td
        a(href='https://www.gosun.co/products/fusion' title='Fusion') Fusion
      td
        a(href='https://www.gosun.co/products/grill' title='Grill') Grill
    tr
      td Best use
      td.compare-active Backpacking
      td Camping
      td All-around
      td Cookout
    tr
      td Weight
      td.compare-active 2 lb
      td 7 lb
      td 14 lb
      td 25 lb
    tr
      td Capacity
      td.compare-active 420 ml (14 oz)
      td 1.2 L (40 oz)
      td 3.01L (101 oz)
      td
        span(style="color: #000000; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 15px;") 7.3 L (246 oz)
    tr
      td Meals per load
      td.compare-active 1
      td 2-3
      td 4-6
      td 6-8
    tr
      td Ideal for
      td.compare-active
        ul
          li Anything Diced
          li Small Fish
          li Dehydrated Food
      td
        ul
          li Muffins
          li Coffee
          li
            | Tea (
            a(href='https://www.gosun.co/products/brew' title='Brew') Brew
            |  required)
      td
        ul
          li Veggies
          li Chicken Strips
          li Wings
      td
        ul
          li Whole Chicken
          li Loaf of Bread
          li Casserole
    tr
      td MSRP
      td.compare-active $139
      td $249
      td $499
      td $699
h5 In the Box
table.one-up(width='100%')
  tbody
    tr(style='height: 22px;')
      td(style='height: 22px;') Go
    tr(style='height: 22px;')
      td(style='height: 22px;') Cleaning Brush
    tr(style='height: 22px;')
      td(style='height: 22px;') Cook Booklet
    tr(style='height: 22px;')
      td(style='height: 22px;') Registration Card
    tr(style='height: 22px;')
      td(style='height: 22px;') User Manual
h5
h5
