include /pug/_help/_mixins


table.three-up.table-format
  tbody
    +table-wd('head')
    +table-wd('product', 'Go', '2.5', '17.33" x 9.3" x 5.58"')
    +table-wd('product', 'Sport', '2.5', '17.33" x 9.3" x 5.58"')


.container-lg
  .content.common-BodyText
    section.category-section
      h3.common-BodyTitle About
      ul.category-section-item
        li
          a(href='/about') About Stripe
        li
          a(href='/jobs') Jobs at Stripe
        li
          a(href='/customers') Customers
        li
          a(href='/blog') Blog
          a.sitemap-link(href='/sitemap/blog') | Sitemap
        li
          a(href='/docs') Documentation
          a.sitemap-link(href='sitemap/docs') | Sitemap
        li
          a(href='/docs/api') Docs API
        li
          a(href='/global') Global availability
        li
          a(href='/press') Press
        li
          a(href='/newsroom/brand-assets') Stripe Logos
        li
          a(href='/environment') Environment
    section.category-section
      h3.common-BodyTitle Products
      ul.category-section-item
        li
          a(href='/payments') Stripe Payments
        li
          a(href='/payments/elements') Elements
        li
          a(href='/docs/payments/checkout') Stripe Checkout
        li
          a(href='/billing') Stripe Billing &amp; Subscriptions
        li
          a(href='/connect') Stripe Connect
        li
          a(href='/connect/express') Stripe Connect Express
        li
          a(href='/connect/pricing') Stripe Connect Pricing
        li
          a(href='/sigma') Stripe Sigma
        li
          a(href='/radar') Stripe Radar
        li
          a(href='/atlas') Stripe Atlas
        li
          a(href='/pricing') Pricing
        li
          a(href='/partners') Partners
    section.category-section.category-section--two-items
      h3.common-BodyTitle Use cases
      ul.category-section-item
        li
          a(href='/marketplaces') Stripe for marketplaces
        li
          a(href='/platforms') Stripe for platforms
    section.category-section
      h3.common-BodyTitle Stripe Guides and Stripe&nbsp;Atlas&nbsp;Guides
      ul.category-section-item
        li
          a(href='/guides') Stripe Guides
        li
          a(href='/guides/strong-customer-authentication') Strong Customer Authentication Guide
        li
          a(href='/payments/payment-methods-guide') Payment Methods Guide
        li
          a(href='/connect/eu-guide') Stripe Connect EU Guide
        li
          a(href='/radar/guide') Radar Guide
        li
          a(href='/atlas/guides') Stripe Atlas Guides
        li
          a(href='/atlas/guides/ama-marc-andreessen') AMA Marc Andreessen
        li
          a(href='/atlas/guides/bookkeeping-and-accounting') Bookkeeping and Accounting Guide
        li
          a(href='/atlas/guides/business-of-saas') Business of SAAS Guide
        li
          a(href='/atlas/guides/business-taxes') Business Taxes Guide
        li
          a(href='/atlas/guides/employment') Employment Guide
        li
          a(href='/atlas/guides/equity') Equity Guide
        li
          a(href='/atlas/guides/incorporation') Incorporation Guide
        li
          a(href='/atlas/guides/managing-risk') Managing Risk Guide
        li
          a(href='/atlas/guides/networking') Networking Guide
        li
          a(href='/atlas/guides/pitching') Pitching Guide
        li
          a(href='/atlas/guides/saas-pricing') SAAS Pricing Guide
        li
          a(href='/atlas/guides/starting-sales') Starting Sales Guide
        li
          a(href='/atlas/guides/tax-season') Tax Season Guide
        li
          a(href='/atlas/guides/transactions-and-agreements') Transactions and Agreements Guide
    section.category-section
      h3.common-BodyTitle Legal
      ul.category-section-item
        li
          a(href='/privacy') Privacy
        li
          a(href='/legal') Legal
        li
          a(href='/privacy-shield-policy') Privacy Shield Policy
        li
          a(href='/code-of-conduct') Code of Conduct
        li
          a(href='/restricted-businesses') Restricted Business
        li
          a(href='/ssa') SSA
        li
          a(href='/marks/legal') Marks Legal
        li
          a(href='/connect/legal') Stripe Connect Legal
        li
          a(href='/connect-account/legal') Stripe Connect Account Legal
        li
          a(href='/checkout/legal') Stripe Checkout Legal
        li
          a(href='/payment-terms/legal') Stripe Payment Terms Legal
        li
          a(href='/tax-strategy/legal') Stripe Tax Strategy Legal
    section.category-section
      h3.common-BodyTitle Contact
      ul.category-section-item
        li
          a(href='/contact') Contact Stripe
        li
          a(href='https://support.stripe.com/') Contact support
        li
          a(href='/contact/sales') Contact sales
        li
          a(href='/connect/express/request-demo') Stripe Connect Express request demo
