// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import "//app/scss/bundle";


::selection { 
  background: #B4D5FE !important; 
  color: #222;
 }


body {
  overflow-x: hidden !important;
}

.shopify-section.product-template {
  ul li, ol li {
      margin-bottom: 0px !important;
  }
}

/* Hide [temp] */
.hide, div.hide {
display: none !important;
}


@include sm-max() {
  .mobile-hide {
      display: none !important;
  }
}

/* Bugs */
.simple-translate-panel, .simple-translate-button {
  display: none !important;
}

/* No whitespace */
.container.main.content {
  min-height: 50vh;
}

$border-dotted:  2px dotted  $palette-neutral-400;

.divider {
  height:2px;
  width:100%;
  padding-bottom:20px;
  margin-top: var(--space-unit);
  border-top: $border-dotted;
 }
 

hr {
  border-color: $stripe-g;
  border-width: 2px;
  border-style: solid;
}


.pointer, a {
  &:hover {
    cursor: pointer !important;
  }
}

.feature_divider {
  display: none !important;
}


/* show products on Activity collection */

#bc-sf-filter-bottom-pagination, #bc-sf-filter-top-pagination, [data-bc-sort="best-selling"] {
  /* display: none; */
  display: block !important;
}

.dismiss-trigger {
  &:hover {
    cursor: pointer;
  }
}
