  // -----------------------------------------------------------------------------
  // Product Page / Overview
  // -----------------------------------------------------------------------------

    /* Component / Description
    ================================================== */

  .c-description p {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

    /* Pattern / Product Overview
    ================================================== */
.p-product-overview {
  @include flexBox(null,space-between,null)
  align-items: top;
  > div {
    max-width: 644px;
    width: 100%;
    height: 100%;
  }
}

    /* Component / Modal
    ================================================== */
.c-modal {
  background: #EDEDE7;
  border-top: 4px solid #686936;
  color: $palette-jungle-500 !important;
  padding: 20px;
  font-size: 20px !important;
  line-height: 26px;
  width: 400px !important;
  margin-right: 30px !important;
  .info-item p {
    font-size: 20px !important;
    font-weight: 400 !important;
  }
}




.info-item--banner {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  height: 40px;
}
.info-item {
  display: flex !important;
  justify-content: center;
  justify-content: flex-start;
}










<div class="p-product-overview" style="clear: both;">
   <div class="c-description">
      <div itemprop="description" &gt;="" <!--="" do="" not="" edit="" this="" snippet="" -="" it's="" generated="" automatically="" and="" may="" be="" overwritten="" at="" any="" time="" --=""> 
      <style type="text/css"> #tabs, .custom-product-description-tabs { background: transparent !important; border: none !important; } #tabs, .custom-product-description-tabs, #tabs-app-accordion { clear: both; font-family: inherit !important; font-size: inherit !important; } #tabs > ul, .custom-product-description-tabs > ul { display: block; overflow: hidden; height: auto; padding: 0; margin: 0 !important; background: transparent; color: #8d8d8d; border: 0 !important; border-radius: 0; } #tabs > ul > li, .custom-product-description-tabs > ul > li { position: relative; z-index: 10; display: block; overflow: hidden; float: left; width: auto; height: auto; padding: 0; margin: 0 !important; background: transparent; border: 0; outline: none; } #tabs.easytabs-flexible > ul, .custom-product-description-tabs.easytabs-flexible > ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; } #tabs.easytabs-flexible > ul > li, .custom-product-description-tabs.easytabs-flexible > ul > li { -webkit-box-flex: 1; -moz-box-flex: 1 -webkit-flex: 1; -ms-flex: 1; flex: 1; } #tabs > div, .custom-product-description-tabs > div, #tabs-app-accordion > div { display: none; overflow: hidden; clear: both; padding: 10px 12px 10px 12px !important; background: #ffffff; color: #333333; border: 0 solid #dddddd; text-align: left; } #tabs > div#last-tab, .custom-product-description-tabs > div#last-tab, #tabs-app-accordion > div#last-tab, #tabs > div.last-tab, .custom-product-description-tabs > div.last-tab, #tabs-app-accordion > div.last-tab { display: block; } #tabs > div, .custom-product-description-tabs > div { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; } #tabs.easytabs-flexible > div, .custom-product-description-tabs.easytabs-flexible > div { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; } #tabs > ul > li a, .custom-product-description-tabs > ul > li a, #tabs-app-accordion > h3 a { display: block; overflow: hidden; width: auto; height: 15px; margin: 0; padding: 7px 12px 7px 12px !important; background-color: #f1f1f1; border: 0 solid #dddddd; color: #8d8d8d; line-height: 15px; font-family: inherit !important; font-size: 15px; font-style: normal; font-weight: normal; line-height: 15px; text-decoration: none; white-space: nowrap; -webkit-box-sizing: content-box !important; -moz-box-sizing: content-box !important; box-sizing: content-box !important; opacity: 1 !important; outline:none; } #tabs > ul > li a:before, .custom-product-description-tabs > ul > li a:before, #tabs-app-accordion > h3 a:before, #tabs > ul > li a:after, .custom-product-description-tabs > ul > li a:after, #tabs-app-accordion > h3 a:after { content: none; } #tabs > ul > li a, .custom-product-description-tabs > ul > li a { text-align: center; } #tabs > ul > li.ui-state-active a, .custom-product-description-tabs > ul > li.ui-state-active a, #tabs-app-accordion > h3.ui-state-active a { background-color: #ffffff; border-color: #dddddd; color: #333333; } #tabs > ul > li:first-child a, .custom-product-description-tabs > ul > li:first-child a, #tabs > ul > li.easytabs-first-visible a, .custom-product-description-tabs > ul > li.easytabs-first-visible a { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px; } #tabs > ul > li:last-child a, .custom-product-description-tabs > ul > li:last-child a, #tabs > ul > li.easytabs-last-visible a, .custom-product-description-tabs > ul > li.easytabs-last-visible a { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; } #tabs > ul > li a, .custom-product-description-tabs > ul > li a, #tabs-app-accordion > h3 a { background-color: transparent !important; } #tabs > ul > li a, .custom-product-description-tabs > ul > li a, #tabs-app-accordion > h3.ui-state-active a { border-bottom-width: 1px; } #tabs > ul > li a, .custom-product-description-tabs > ul > li a { border-color: #ffffff; } #tabs > div, .custom-product-description-tabs > div, #tabs-app-accordion > div { border: none; margin-top: -1px; } #tabs-app-accordion > h3 { position: relative; z-index: 10; display: block; width: 100%; padding: 0; margin: 0; background: transparent; border: 0; outline: 0; } #tabs-app-accordion { overflow: hidden; } #tabs-app-accordion > h3:first-child a, #tabs-app-accordion > h3.easytabs-first-visible a { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px; } #tabs-app-accordion > h3:last-of-type a, #tabs-app-accordion > h3.easytabs-last-visible a { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; } #tabs-app-accordion > h3.ui-state-active a { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; } #tabs-app-accordion > div { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; } #tabs-app-accordion > div:last-child, #tabs-app-accordion > div.easytabs-last-visible { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; } #judgeme_product_reviews { border: none !important; } #tabs > div[aria-hidden='false'], .custom-product-description-tabs > div[aria-hidden='false'] { display: block; } #tabs .spr-container, .custom-product-description-tabs > .spr-container { border: none; } #tabs > div > span, .custom-product-description-tabs > div > span, #tabs-app-accordion > div > span { display: block; } #tabs > div[aria-hidden='false'], .custom-product-description-tabs > div[aria-hidden='false'], #tabs > div:first-of-type, .custom-product-description-tabs > div:first-of-type { display: block; } #tabs > #last-tab, .custom-product-description-tabs > .last-tab { display: block; background: transparent; border: none; color: inherit; } .easytabs-kiwi-hidden, #tabs > ul > li.easytabs-kiwi-hidden, #tabs-app-accordion > h3.easytabs-kiwi-hidden, .custom-product-description-tabs > ul > li.easytabs-kiwi-hidden, #tabs-app-accordion > h3.easytabs-kiwi-hidden { display: none !important; }</style>
      <link id="tabscss" rel="stylesheet" onerror="nexusmediaJQ191('#tabs > ul > li').hide(); nexusmediaJQ191('.easytabs-app-accordion > h3, #last-tab, .last-tab').remove();" href="/apps/tabs/newcss">
      <script type="text/javascript"> if( typeof easytabs !== 'object' ) { var nexusmediaJQ191; var easytabs = { flexible: true, windowWidthToRotate: 972, widthToRotate: 0, currentState: "tabs", cssUrl: '/apps/tabs/newcss', tabsOptions: { create: function(e){ nexusmediaJQ191(e.target).find('li.ui-state-active').prev().addClass('easytabs-before-active'); }, activate: function(e){ var $parent = nexusmediaJQ191(e.currentTarget).parent(); $parent.removeClass('easytabs-before-active').siblings('li').removeClass('easytabs-before-active'); if( $parent.prev().length ) { $parent.prev().addClass('easytabs-before-active'); } } }, loadScript: function(url, callback) { var script = document.createElement("script"); script.type = "text/javascript"; script.async = true; if( script.readyState ) { script.onreadystatechange = function () { if (script.readyState == "loaded" || script.readyState == "complete") { script.onreadystatechange = null; callback(); }; }; } else { script.onload = function(){ callback(); }; }; script.src = url; document.getElementsByTagName("head")[0].appendChild(script); }, tabsToAccordions: function() { easytabs.currentState = "accordion"; nexusmediaJQ191("#tabs").each(function(){ var phandle = nexusmediaJQ191(this).children('ul').attr('data-item-handle') || 'tabs-'; if( phandle && phandle[0] == '#' ) phandle = phandle.substring(1); if( phandle != 'tabs-' ) return; var e = nexusmediaJQ191( document.createElement('div') ); e.attr('id', phandle + 'app-accordion'); e.addClass('easytabs-app-accordion'); var t = new Array; nexusmediaJQ191(this).find(">ul>li").each(function(){ var classes = ''; for( var i = 0; i <this.classList.length; i++ ){ if(this.classList[i].substring(0, 9) == 'easytabs-') classes += ' ' + this.classList[i]; } t.push('<h3' + (classes ? ' class="' + classes + '"' : '') + '>' + nexusmediaJQ191(this).html() + '</h3>'); }); var n = new Array; nexusmediaJQ191(this).find(">div").not("#last-tab").each(function(){ n.push(this) }); for( var r = 0; r <t.length; r++ ){ e.append(t[r]).append(n[r]) } nexusmediaJQ191(this).before(e); nexusmediaJQ191(this).after(nexusmediaJQ191("#last-tab")); nexusmediaJQ191(this).remove(); }); nexusmediaJQ191("#tabs-app-accordion").accordion({ heightStyle: "content", animate: 100 }); nexusmediaJQ191(".ui-accordion-header").bind("click", function(){ theOffset = nexusmediaJQ191(this).parent().closest(".easytabs-app-accordion").offset().top; nexusmediaJQ191("html, body").animate({scrollTop: (theOffset-50)}, 0); }); nexusmediaJQ191(".ui-accordion-header").bind("click", function(){ window.dispatchEvent(new Event("resize")); }); }, accordionsToTabs: function() { easytabs.currentState = "tabs"; nexusmediaJQ191("#tabs-app-accordion").each(function(){ var e = nexusmediaJQ191( document.createElement('div') ); var phandle = this.id.replace(/-?app-accordion$/, ''); e.attr('id', phandle); if( phandle && phandle[0] == '#' ) phandle = phandle.substring(1); if( !phandle || phandle == 'tabs-' ) phandle = 'tabs'; if( easytabs.flexible ) e.addClass('easytabs-flexible'); var t = 0; var n = nexusmediaJQ191(document.createElement('ul')); n.attr('data-item-handle', phandle == 'tabs' ? 'tabs-' : phandle ); nexusmediaJQ191(this).find(">h3").each(function(){ t++; n.append('<li><a href="#tabs-app-tabs-' + t + '">' + nexusmediaJQ191(this).text() + "</a></li>"); }); var t = 0; var r = nexusmediaJQ191(""); nexusmediaJQ191(this).find(">div").not("#last-tab").each(function(){ t++; var ell = nexusmediaJQ191( document.createElement('div') ); ell.attr('id', 'tabs-app-tabs-' + t); ell.html(nexusmediaJQ191(this).html()); r = r.add(ell); }); e.append(n).append(r).append(nexusmediaJQ191("#last-tab")); nexusmediaJQ191(this).before(e); nexusmediaJQ191(this).remove(); }); nexusmediaJQ191("#tabs").tabs(easytabs.tabsOptions); nexusmediaJQ191(".ui-tabs-anchor").bind("click", function(){ window.dispatchEvent(new Event("resize")); }); }, updateUI: function() { if( easytabs.currentState == "tabs" && ( nexusmediaJQ191("#tabs").length > 0 && nexusmediaJQ191("#tabs").width() <easytabs.widthToRotate ) || ( nexusmediaJQ191(window).width() <= easytabs.windowWidthToRotate ) ){ easytabs.tabsToAccordions(); } else if( easytabs.currentState == "accordion" && nexusmediaJQ191("#tabs-app-accordion").length > 0 && nexusmediaJQ191("#tabs-app-accordion").width() >= easytabs.widthToRotate && nexusmediaJQ191(window).width() > easytabs.windowWidthToRotate){ easytabs.accordionsToTabs(); } }, recalcWidth: function() { if( easytabs.currentState == "tabs" ) { nexusmediaJQ191('#tabs, .custom-product-description-tabs').removeClass('easytabs-flexible'); easytabs.widthToRotate = 0; var max = 0; nexusmediaJQ191("div[id=tabs]>ul>li").each(function(){ var w = nexusmediaJQ191(this).width(); easytabs.widthToRotate += w; if( w > max ) max = w; }); if( easytabs.flexible ) { easytabs.widthToRotate = max * nexusmediaJQ191("div[id=tabs]>ul>li").length; nexusmediaJQ191('#tabs, .custom-product-description-tabs').addClass('easytabs-flexible'); } } }, init: function() { var event = document.createEvent('Event'); event.initEvent('easytabs_old_init', true, true); document.dispatchEvent(event); nexusmediaJQ191('#tabs, .custom-product-description-tabs').tabs(easytabs.tabsOptions); nexusmediaJQ191( window ).load(function() { nexusmediaJQ191('#tabscss').attr('href', easytabs.cssUrl); }); if( navigator.userAgent.indexOf("Opera") != -1 ) { setTimeout(function(){ nexusmediaJQ191("#tabs, .custom-product-description-tabs").tabs(easytabs.tabsOptions); }, 100); } if( typeof($) != "undefined" ) { $("#tabs ul li a").unbind("click.smoothscroll"); setTimeout(function(){ $("#tabs ul li a").unbind("click.smoothscroll"); }, 1000); } easytabs.recalcWidth(); easytabs.updateUI(); nexusmediaJQ191(window).resize(function(e){ easytabs.recalcWidth(); easytabs.updateUI(); }); nexusmediaJQ191('.easytabs-accessory').remove(); } }; easytabs.loadScript("//cdn.shopify.com/s/files/1/0240/9283/files/nexusmedia-jq1.9.1-ui1.10.4.min.js", easytabs.init); } else if( typeof nexusmediaJQ191 === 'function' ) { easytabs.init(); }</script> 
      <div class="easytabs-text">
         <p>Reusable utensils to stop single-use plastic. Flatware fits in your wallet, purse or pocket. Crafted from stainless-steel - this cutlery set is clean, durable and effortless.</p>
      </div>
      <div class="description ui-tabs ui-widget ui-widget-content ui-corner-all easytabs-flexible" id="tabs" itemprop="description" style="">
         <ul data-item-handle="#tabs-" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist"></ul>
      </div>
   </div>
</div>
<div class="c-modal">
   <div class="info-item info-item--banner">
      <span class="icon"> <i class="material-icons-outlined">nature</i></span> 
      <p> </p>
      <p>Your purchase plants 2 trees</p>
      <p></p>
   </div>
   <div class="info-item info-item--banner">
      <span class="icon"> <i class="material-icons-outlined">brightness_5</i></span> 
      <p> </p>
      <p>Solar energy helps reduce fossil fuels</p>
      <p></p>
   </div>
</div>
</div>









/* gosun.scss.css | https://cdn.shopify.com/s/files/1/0789/1333/t/89/assets/gosun.scss.css?26538 */

.stamped-review-options {
  /* clear: both !important; */
  /* width: 100% !important; */
}

@media (min-width: 768px) {
  .stamped-review-options {
    /* float: right !important; */
    /* width: 29.75% !important; */
  }
}

.stamped-review-content-body {
  /* float: left !important; */
  float: right !important;
}

.stamped-review-body {
  float: ;
  display: flex;
  align-items: ;
  flex-direction: column;
}

/* Inline #57 | https://www.gosun.co/products/fusion */

li {
}

.stamped-review-header-title {
  float: left;
}

.stamped-review-product a {
  display: none;
}

/* widget.min.css | https://cdn1.stamped.io/files/widget.min.css */



.stamped-reviews .stamped-review-options strong {
  font-size: 12px;
}

.stamped-review-header-starratings {
  float: left;
}

.stamped-reviews .stamped-review-options:not(:empty) {
  display: none;
}









/* gosun.scss.css | https://cdn.shopify.com/s/files/1/0789/1333/t/86/assets/gosun.scss.css?25818 */

.menu li.search_container {
  /* width: 251px !important; */
  width: 271px !important;
}

/* styles.scss.css | https://cdn.shopify.com/s/files/1/0789/1333/t/86/assets/styles.scss.css?25818 */

.menu a, .menu a:visited, .menu a:active, #header span.menu_title, .menu a span, select.currencies, .mini_cart span {
  font-size: 16px;
}


.search_form input {
  border-radius: 22px;
  background: $palette-grape-700;
  border: none !important;
  }


  .menu li.search_container {
    width: 251px !important;
    }




/* gosun.scss.css | https://cdn.shopify.com/s/files/1/0789/1333/t/86/assets/gosun.scss.css?25902 */

.menu li.search_container {

  width: 280px !important;
  margin-left: 400px;
}

input, textarea {
  font: 16px 'cp' !important;
}







  /* #Shogun / Countdown
  ================================================== */

/* Inline #55 | https://gosun.co/pages/flow */

.shogun-countdown div {
  background: #ddd;
  padding: ;
  height: 120px;
  width: 120px;
  display: flex;
  text-align: center;
  border-radius: 8px;
}

.shogun-countdown > div > label {
  text-align: center;
  position: absolute;
  top: 80px;
  width: 110px;
}

@media (min-width: 768px) {
  .shogun-countdown-large > span, .shogun-countdown-large > div > span {
    font-size: 72px;
    line-height: 85px;
    font-weight: 900;
  }
}
