// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@import "//app/scss/bundle";

@mixin gradient() {
  background-repeat: repeat-x;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.95), #262625);
}

// -----------------------------------------------------------------------------
// Shadows
// -----------------------------------------------------------------------------

/* #Shadows - Base
================================================== */
@mixin box-shadow($top, $right, $bottom, $blur, $color) {
  -webkit-box-shadow: $top $right $bottom $blur $color !important;
  -moz-box-shadow: $top $right $bottom $blur $color !important;
  box-shadow: $top $right $bottom $blur $color !important;
}
/* #Shadows - Card
================================================== */
@mixin card-shadow() {
  @include box-shadow(0, 0.5rem, 1rem, -0.5rem, $palette-shade-100);
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
      rgba(0, 0, 0, 0.14) 0 8px 10px 1px, rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
  }
}
/* #Shadows - Menu
================================================== */
@mixin shadow-menu() {
  @include box-shadow(0, 2px, 6px, 0, $palette-shade-200);
}
/* #Shadows - Nav
================================================== */
@mixin shadow-nav() {
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.shadow-nav {
  @include shadow-nav();
  &:hover {
    @include shadow-menu();
  }
}
/* #Shadows - Card
================================================== */
@mixin shadowCard($state) {
  @if $state == "default" {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  } @else if $state == "hover" {
    box-shadow: 0px 30px 60px rgba(50, 50, 93, 0.2),
      0px 18px 36px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px) scale(1.05);
    -webkit-transform: translateY(-2px) scale(1.05);
    -moz-transform: translateY(-2px) scale(1.05);
    -ms-transform: translateY(-2px) scale(1.05);
    -o-transform: translateY(-2px) scale(1.05);
  }
}
/* #Shadows - Forms [inset]
================================================== */
@mixin form-shadow() {
  box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.14) 0px 0px 0px 4px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
/* #Shadows - Article 
================================================== */
@mixin article-shadow() {
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1),
      0 8px 15px rgba(0, 0, 0, 0.07);
  }
}

@mixin shadow-100() {
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

/* #Transform - Skew [rotate]
================================================== */
@mixin transform-skew() {
  transform: translate(-60px, -50%) rotate(12deg);
}
// -----------------------------------------------------------------------------
// Corners
// -----------------------------------------------------------------------------
@mixin rounded($radius: var(--radius-md)) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  -o-border-radius: $radius !important;
}

@mixin border-radius($size) {
  @if $size == "normal" {
    border-radius: var(--radius-md) !important;
    -webkit-border-radius: var(--radius-md) !important;
    -moz-border-radius: var(--radius-md) !important;
    -ms-border-radius: var(--radius-md) !important;
    -o-border-radius: var(--radius-md) !important;
  }
  @if $size == "large" {
    border-radius: var(--radius-md) !important;
    -webkit-border-radius: var(--radius-md) !important;
    -moz-border-radius: var(--radius-md) !important;
    -ms-border-radius: var(--radius-md) !important;
    -o-border-radius: var(--radius-md) !important;
  }
}

@mixin rounded-bottom() {
  border-radius: 0 0 4px 4px !important;
}

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
/* #Buttons - [Hover]
================================================== */
@mixin btn-hover() {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0 8px 10px 1px, rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
}

@mixin nav-hover() {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17) !important;
  background: $alabaster;
  a {
    color: var(--color-contrast-higher) !important;
  }
}
/* #Buttons - [Transition]
================================================== */
@mixin btn-transition() {
  transition-delay: 0s !important;
  transition-duration: 0.28s !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}

/* #Button - Default
================================================== */
@mixin btn() {
  @include rounded();
  @include btn-transition();
  @include btn-shadow();
  cursor: pointer !important;
  height: 36px;
  letter-spacing: 0.04em;
  line-height: 36px;
  font-size: var(--text-sm);
  letter-spacing: -0.03em;
  color: $white !important;
  min-width: 88px;
  padding: 0 16px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------

/* #Cards - Base
================================================== */

@mixin card() {
  @include border-radius("large");
  border: 1px solid $color-border-light;
  cursor: pointer;
  display: flex;
  flex: 1;
  @include btn-transition();
}
/* #Cards - Hover
================================================== */
@mixin card-hover() {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0 8px 10px 1px, rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
}

@mixin hover-zoom() {
  transform: scale(1.06) translatex(1px) translatey(-1px) !important;
  filter: none !important;
}

// -----------------------------------------------------------------------------
// Borders
// -----------------------------------------------------------------------------

/* #Border - Light
================================================== */
@mixin border-light() {
  border: 1px solid $white !important;
  @include rounded();
  color: $white !important;
  background-color: transparent;
}

// -----------------------------------------------------------------------------
// Media
// -----------------------------------------------------------------------------
/* #Media - Filters
================================================== */
@mixin filter-alabaster() {
  filter: brightness(0.97) !important;
  -webkit-filter: brightness(0.97) !important;
}
@mixin filter-egg() {
  filter: brightness(0.94) !important;
  -webkit-filter: brightness(0.94) !important;
}
@mixin filter-banner() {
  filter: brightness(0.7) !important;
  -webkit-filter: brightness(0.7) !important;
}
@mixin filter-dim() {
  filter: brightness(0.85) contrast(0.75) saturate(1.15) !important;
}
@mixin filter-top() {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 5%,
    rgba(0, 0, 0, 0) 40%
  );
  background-blend-mode: multiply;
  @include rounded();
  z-index: -1;
}
@mixin filter-bottom() {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 25%
  );
  background-blend-mode: multiply;
  border-radius: 20px;
}

@mixin filter-blur() {
  filter: brightness(0.92) blur(1px) !important;
  -webkit-filter: brightness(0.92) blur(1px) !important;
}
@mixin filter-map($color) {
  background: linear-gradient(
      180deg,
      $alabaster 0%,
      rgba(255, 255, 255, 0.4) 62.5%
    ),
    url("https://cdn.shopify.com/s/files/1/0789/1333/files/Transparent_Light.png?v=1586982751"),
    $color;
  background-blend-mode: normal, multiply, normal;
}

.filter-map--white {
  @include filter-map(white);
}
/* #Media - Image size 
================================================== */
@mixin thumbnail() {
  object-fit: cover;
  object-position: 50% 50%;
}
@mixin clip-transition {
  transition: 0.4s cubic-bezier(1, -1, 0, 2);
}
@mixin clip-circle() {
  @include clip-transition();
  clip-path: circle(50% at 50% 50%);
}

/* #Backgrounds - Pattern Map
================================================== */
