/* -------------------------------- 

File#: _1_breadcrumbs
Title: Breadcrumbss
Descr: List of links to help the user move within website structure

-------------------------------- */

.breadcrumbs {
    margin-top: calc(var(--space-lg) * -1);
    @include md-max() {
      @include width-100();
      background: var(--color-contrast-lower);
      position: relative;
      margin-bottom: var(--space-lg);
      z-index: 99;
      visibility: hidden;
    }
}

.breadcrumbs__item {
  display: inline-block; // flex fallback
  display: inline-flex;
  align-items: center;
}
