/* -------------------------------- 

File#: _1_drawer
Title: Drawer
Descr: A slide-in panel used to display critical content

-------------------------------- */

:root {
  --drawer-width: 400px;
}

.drawer {
  position: fixed;
  z-index: var(--zindex-overlay);
  width: 100%;
  max-width: var(--drawer-width);
  height: 100%;
  top: 0;
  right: 0;
  // hide drawer
  visibility: hidden;
  transition: visibility 0s 0.3s;

  &:focus {
    outline: none;
  }
}

.drawer--is-visible {
  visibility: visible;
  transition: none;
}

.drawer--open-left {
  right: auto;
  left: 0;
}

.drawer__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--color-bg);
  box-shadow: var(--shadow-md);
  transform: translateX(100%);
  transition: transform 0.3s;
  transition-timing-function: var(--ease-in-out);

  .drawer--open-left & {
    transform: translateX(-100%);
  }

  .drawer--is-visible & {
    transform: translateX(0);
  }
}

.drawer__body {
  // scrollable area
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch; // smooth scroll on iOS
}

.drawer__close-btn {
  z-index: var(--zindex-fixed-element);
  top: var(--space-xxs);
  right: var(--space-xxs);
  width: 2em;
  height: 2em;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: alpha(var(--color-bg), 0.95);
  box-shadow: var(--shadow-sm);
  transition: 0.2s;

  &:hover {
    background-color: var(--color-bg);
    box-shadow: var(--shadow-md);
  }

  .icon {
    display: block;
    color: var(--color-contrast-high);
  }
}

.drawer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: var(--space-xs) var(--component-padding);
  border-bottom: 1px solid var(--color-contrast-lower);
}

// --modal
.drawer--modal {
  max-width: none;
  background-color: alpha(var(--color-contrast-higher), 0);
  transition: background-color 0.3s, visibility 0s 0.3s;

  &.drawer--is-visible {
    background-color: alpha(var(--color-contrast-higher), 0.6);
    transition: background-color 0.3s;
  }

  &.drawer--open-left .drawer__content {
    right: auto;
    left: 0;
  }

  .drawer__content {
    max-width: var(--drawer-width);
  }
}
