

/* -------------------------------- 

File#: _1_feature-v2
Title: Feature v2
Descr: Content group containing two text components


-------------------------------- */

.feature-v2 {
  position: relative;
  z-index: 1;
}

