/* -------------------------------- 

File#: _1_previous-next-links
Title: Previous/Next Links
Descr: Links to previous/next articles
Usage: codyhouse.co/license

-------------------------------- */

.pn-links {
    border-top: 1px solid var(--color-contrast-low);
    border-bottom: 1px solid var(--color-contrast-low);
  }
  
  .pn-links__item:first-child {
    .pn-links__link {
      border-bottom: 1px solid var(--color-contrast-low);
    }
  }
  
  .pn-links__link {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none;
    padding: var(--space-md);
  
    &:hover {
      text-decoration: underline;
  
      .pn-links__icon {
        line:nth-child(1) {
          transform: rotate(180deg);
        }
  
        line:nth-child(2) {
          transform: rotate(-180deg);
        }
  
        line:nth-child(3) {
          stroke-dashoffset: 14;
        }
      }
    }
  }
  
  .pn-links__icon { // animated icon
    flex-shrink: 0;
  
    line:nth-child(1),
    line:nth-child(2) {
      transition: transform .3s var(--ease-out);
    }
  
    line:nth-child(1) {
      transform-origin: 42px 19px;
    }
  
    line:nth-child(2) {
      transform-origin: 42px 29px;
    }
  
    line:nth-child(3) {
      stroke-dasharray: 48;
      transition: stroke-dashoffset .3s var(--ease-out);
    }
  }
  
  @include md() {
    .pn-links__item:first-child .pn-links__link {
      border-bottom: none;
      border-right: 1px solid var(--color-contrast-low);
    }
    
  }

  .flip-x {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }