/* -------------------------------- 

File#: _1_pre-header
Title: Pre-header 
Descr: Pre-header (top) banner
Usage: codyhouse.co/license

-------------------------------- */

.pre-header {
  display: block;
  background-color: var(--color-primary);
  color: var(--color-bg);
  @include fontSmooth;
}

.pre-header--is-hidden {
  display: none;
}

.pre-header__close-btn {
  position: absolute;
  right: 0;
  top: calc(50% - 0.5em);
  opacity: 0.85;
  transition: 0.2s;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .icon {
    display: block;
  }
}

// --link
a.pre-header {
  text-decoration: none;
  transition: background-color 0.2s;

  &:hover {
    text-decoration: underline;
    background-color: var(--color-contrast-high);
  }
}
