.snize-sticky-searchbox {
  display: none !important;
}

.snize-ac-results-content {
  background: var(--color-max) !important;
  padding-top: var(--space-lg) !important;
}

.snize-ac-over-nodrop {
  background: var(--color-contrast-lower) !important;
}

.snize-ac-results-multicolumn-list .snize-title {
  color: var(--color-contrast-higher) !important;
  font-weight: 500 !important;
}

.snize-ac-results-multicolumn-list .snize-description {
  color: var(--color-contrast-high) !important;
}

.snize-no-products-found-text {
  color: var(--color-contrast-low) !important;
  font-size: var(--text-xl) !important;
}

.snize-ac-results {
  z-index: 99 !important;
  color: var(--color-contrast-high) !important;
  a,
  .snize-page,
  .snize-vendor,
  .snize-tag,
  .snize-category,
  .snize-suggestion,
  .snize-no-categories-found,
  .snize-no-pages-found,
  .snize-no-suggestions-found,
  .snize-price-list {
    color: var(--color-contrast-high) !important;
  }
  .snize-discounted-price,
  .snize-attribute,
  .snize-sku {
    color: var(--color-contrast-medium) !important;
  }
  .snize-label {
    color: var(--color-contrast-medium) !important;
    border-color: var(--color-contrast-low) !important;
  }
  .snize-arrow-inner {
    border-color: var(--color-max) !important;
  }
}

.snize-product {
  text-align: left !important;
  &:hover {
    background: var(--color-contrast-lower) !important;
  }
}

.snize-view-all-link,
.snize-view-all-pages {
  color: var(--color-contrast-high) !important;
}

/* Results / Controls 
---------------------- */

div.snize {
  .snize-main-panel-controls ul li a.active,
  div.snize-main-panel-controls ul li a:hover {
    background-color: var(--color-primary-lighter) !important;
    color: var(--color-contrast-higher) !important; // Active
  }
  div.snize-main-panel-controls ul li a {
    color: var(--color-contrast-high) !important; // Default
  }

  div.snize-main-panel {
    border: none !important;
  }

  div.snize-main-panel-dropdown {
    a {
      color: var(--color-contrast-higher) !important;
    }
    > a {
      border: none !important;
      background: var(--color-primary-lighter) !important;
    }

    ul.snize-main-panel-dropdown-content {
      background-color: var(--color-contrast-lower) !important;
      border: none !important;
      &:hover {
        > a {
          background-color: var(--color-contrast-lower) !important;
        }
      }
      a:hover {
        background-color: var(--color-primary-lighter) !important;
      }
    }

    :not(.ssw-fave-icon) {
      color: var(--color-contrast-high) !important;
    }
  }
}

/* Results / Products
======================== */

.snize-search-results-main-content .snize-thumbnail {
  height: 200px !important;
  border: none !important;
}

.snize-overhidden {
  background: transparent !important;
}

.snize-sku,
.snize-attribute {
  margin-top: var(--space-xs);
  color: var(--color-contrast-medium) !important;
}

.snize-title,
.snize-price-list {
  color: var(--color-contrast-higher) !important;
}

div.snize li.snize-product span.snize-description {
  color: var(--color-contrast-high) !important;
}

.snize-overhidden > * {
  text-align: left !important;
  font-size: 50% !important;
}

.snize-description {
  color: var(--color-contrast-high) !important;
}

.snize-item-image {
  filter: brightness(0.92);
}

.snize-sku,
.snize-attribute {
  margin-top: calc(
    var(--space-sm) * -1
  ) !important; // Tighten Product name + type
}

/* Results / Pages
==================== */
.snize-page {
  border-color: var(--color-contrast-low);
  &:hover {
    background-color: var(--color-contrast-lower);
  }
}
