/* -------------------------------- 

File#: _1_ticker
Title: Ticker
Descr: News-like Horizontal Scrolling List
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --ticker-animation-duration: 10s;
  --ticker-gap-x: var(--space-md); // horizontal gap
  --ticker-img-width: 280px;

  @include breakpoint(sm) {
    --ticker-img-width: 400px;
  }

  @include breakpoint(md) {
    --ticker-img-width: 550px;
  }
}

.ticker {
  overflow: hidden;
}

.ticker__list {
  display: flex;
  overflow: auto;
  will-change: transform;
  transform: translateZ(0px);
  backface-visibility: hidden;
}

/* class added in JS to trigger the scrolling animation */
.ticker--animate .ticker__list {
  animation: ticker-animation var(--ticker-animation-duration) infinite;
  animation-timing-function: linear;
}

/* pause animation on hover or using an external control button */
.ticker[data-ticker-pause-hover="on"] .ticker__list:hover,
.ticker--paused .ticker__list {
  animation-play-state: paused;
}

.ticker__item {
  flex-shrink: 0;
  margin-right: calc(var(--ticker-gap-x) / 2);
  margin-left: calc(var(--ticker-gap-x) / 2);
}

.ticker__img {
  display: block;
  width: var(--ticker-img-width);
}

.ticker-control {
  // pause/play button
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: alpha(var(--color-contrast-higher), 0.75);
  border-radius: 50%;
  transition: 0.2s;

  i {
    // icon
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    color: var(--color-bg); // icon color

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: currentColor;
      transition: clip-path 0.2s var(--ease-out);
    }

    &::before {
      clip-path: polygon(
        1px 1px,
        5px 1px,
        5px calc(100% - 1px),
        1px calc(100% - 1px)
      );
    }

    &::after {
      clip-path: polygon(
        calc(100% - 5px) 1px,
        calc(100% - 1px) 1px,
        calc(100% - 1px) calc(100% - 1px),
        calc(100% - 5px) calc(100% - 1px)
      );
    }
  }

  &:hover {
    cursor: pointer;
    background-color: alpha(var(--color-contrast-higher), 0.95);
  }

  &[aria-pressed="true"] {
    i {
      &::before {
        clip-path: polygon(2px 0%, 100% 50%, 100% 50%, 2px 100%);
      }

      &::after {
        clip-path: polygon(
          calc(100% - 5px) calc(100% - 1px),
          calc(100% - 1px) calc(100% - 1px),
          calc(100% - 1px) calc(100% - 1px),
          calc(100% - 5px) calc(100% - 1px)
        );
      }
    }
  }
}

/* js enabled style */
.js {
  /* ticker--anim-off class turns off translate animation - added in JS if reduced-motion option is on */
  .ticker:not(.ticker--anim-off) .ticker__list {
    overflow: visible;
  }

  .ticker--reverse:not(.ticker--anim-off) .ticker__list {
    flex-direction: row-reverse;
  }

  .ticker--reverse.ticker--animate:not(.ticker--anim-off) .ticker__list {
    transform: translateX(calc(100vw - 100%));
    animation-name: ticker-animation-reverse;
  }
}

/* intermediate steps are added to fix a bug on Safari */
@keyframes ticker-animation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes ticker-animation-reverse {
  0% {
    transform: translateX(calc(100vw - 100%));
  }

  100% {
    transform: translateX(calc(100vw - 50%));
  }
}
