/* -------------------------------- 

File#: _2_slideshow-preview-mode
Title: Preview-Mode Slideshow
Descr: Show a collection of items one at a time with a preview of the next/previous elements
Usage: codyhouse.co/license

-------------------------------- */

:root {
    --slideshow-pm-item-width: 100%; // width of the central slideshow item
    --slideshow-pm-item-gap: var(--space-sm); // slideshow items gap
  }
  
  @supports(--css: variables) {
    :root {
      @include md() {
        --slideshow-pm-item-width: 66%;
      }
    }
  }
  
  
  // slideshow basic style
  .slideshow-pm {
    overflow: hidden;
    padding: var(--space-md) 0;
    ul {
      margin-left: 0; // remove extra space
    }
  }
  
  .slideshow-pm__list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: flex-start;
  }
  
  // single slide style
  .slideshow-pm__item {
    display: inline-block; // flex fallback
    display: inline-flex;
    // center content
    justify-content: center;
    align-items: center;
    min-height: 280px; // slideshow min-height
    width: var(--slideshow-pm-item-width);
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
    &:not(:last-of-type) {
      margin-right: var(--slideshow-pm-item-gap);
    }
  
    &:focus {
      outline: none;
    }
  
    @include md() {
      min-height: 400px;
    }
  
    @include lg() {
      min-height: 480px;
    }
    @include md-max() {
      img, video {  // make asset fixed height
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 350px;
      }
    }
  }
  
  .slideshow-pm__item--media {
    height: auto !important;
  
    img, svg, video {
      display: block;
    }
  }
  
  // slideshow style if javascript is enabled 
  .js {
    .slideshow-pm { // hide slideshow
      opacity: 0;
    }
  
    .slideshow-pm--js-loaded { // once the slideshow has been initialized in js, reveal it
      opacity: 1;
    }
  
    .slideshow-pm__content {
      position: relative;
    }
  
    .slideshow-pm__list {
      overflow: visible;
    }
  
    .slideshow-pm__list--has-transition { // class added in js once the slideshow has been initialized
      transition: transform 0.4s; 
      will-change: transform;
    }
  
    .slideshow-pm__list--has-transition .slideshow-pm__item {
      transition: all 0.3s;
      will-change: transform, opacity;
    } 
  
    .slideshow-pm__item {
      transform: scale(0.95);
      opacity: 0.4;
    }
  
    .slideshow-pm__item--selected {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  // touch swipe enabled
  .js .slideshow-pm[data-swipe="on"] .slideshow-pm__content {
    user-select: none;
  
    img {
      pointer-events: none;
    }
  }
  
  // slideshow arrow controls
  .slideshow-pm__control {
    display: none;
  }
  
  .js {
    .slideshow-pm[data-swipe="on"] .slideshow-pm__control {
      display: none; // hide arrows on mobile if swipe is enabled
    }
  
    .slideshow-pm__control {
      display: block;
      position: absolute;
      z-index: 4;
      top: 50%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s, visibility 0s .2s;
    
      &:first-of-type {
        left: calc((100% - var(--slideshow-pm-item-width))*0.25);
        transform: translateY(-50%) translateX(-50%);
      }
    
      &:last-of-type {
        right: calc((100% - var(--slideshow-pm-item-width))*0.25);
        transform: translateY(-50%) translateX(50%);
      }
    
      button, .icon {
        display: block;
      }
    
      button {
        background-color: alpha(var(--color-contrast-higher), 0.8);
        height: 48px;
        width: 24px;
        border-radius: 0.25em;
        cursor: pointer;
        transition: background .2s, transform 0.2s;
    
        &:hover {
          background-color: alpha(var(--color-contrast-higher), 0.85);
        }
    
        &:active {
          transform: scale(0.95);
        }
      }
    
      .icon {
        width: 24px;
        height: 24px;
        margin: 0 auto;
        transition: color .2s;
        color: var(--color-bg);
      }
    }
  
    .slideshow-pm__control--active {
      opacity: 1;
      visibility: visible;
      transition: opacity .2s;
    }
  
    @include md() {
      .slideshow-pm[data-swipe="on"] .slideshow-pm__control {
        display: block; // show arrow controls
      }
  
      .slideshow-pm__control {
        button {
          height: 64px;
          width: 32px;
        }
    
        .icon {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  
  // slideshow navigation
  .slideshow-pm__navigation { // created in JS
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-sm);
  }
  
  .slideshow-pm__nav-item {
    display: inline-block; // flex fallback
    margin: 0 var(--space-xxxs);
  
    button { // dot
      display: block;
      position: relative;
      font-size: 8px; // dot size
      color: var(--color-contrast-high); // dot color
      height: 1em !important;
      width: 1em;
      border-radius: 50%;
      background-color: currentColor;
      opacity: 0.4;
      cursor: pointer;
      transition: background .3s;
  
      &::before { // focus circle
        content: '';
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
        height: 1em;
        width: 1em;
        font-size: 14px;
        border-radius: inherit;
        border: 1px solid var(--color-contrast-high);
        opacity: 0;
        transform: scale(0);
        transition: 0.3s;
      }
      
      &:focus {
        outline: none;
        
        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
  
  .slideshow-pm__nav-item--selected button {
    opacity: 1;
  }
  
  @include md() {
    .slideshow-pm__nav-item {
      button {
        font-size: 10px; // dot size
  
        &::before { // focus circle
          font-size: 16px;
        }
      }
    }
  }