/* -------------------------------- 

File#: _3_hero-video-bg
Title: Hero Background Video
Descr: Hero section variation w/ background video

-------------------------------- */

.hero--video-bg {}

.hero__video-bg { // video container
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  video {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    max-width: none;

    @supports(object-fit: cover) {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    @supports (object-fit: cover) and (-ms-ime-align:auto) { 
      // fix issue on Edge - object-fit not working for video elements
      height: auto;
      width: auto;
    }
  }

  img { // video fallback - visible if Reduced Motion is enabled
    display: none;
  }

  @media (prefers-reduced-motion: reduce) { // do not play background video if Reduced Motion is enabled - show fallback image
    video { 
      visibility: hidden;
    }

    img {
      display: block;
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.hero__play-btn {
  background-color: alpha(var(--color-contrast-higher), 0.85);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: inline-flex;
  transition: background-color .3s;

  .icon {
    margin: auto;
    color: var(--color-bg);
    font-size: 1.25em; // icon size
    display: block;
    transition: transform .3s var(--ease-out-back);
  }

  &:hover {
    background-color: alpha(var(--color-contrast-higher), 1);

    .icon {
      transform: scale(1.2);
    }
  }
}