// -----------------------------------------------------------------------------
// This file contains all styles related to the btn component.
// -----------------------------------------------------------------------------
@import "//app/scss/bundle";

// -----------------------------------------------------------------------------
// Basic Buttons
// -----------------------------------------------------------------------------
a.highlight-true,
a.highlight-true:hover {
  background-color: var(--color-max) !important;
  border-color: transparent !important;
  color: var(--color-contrast-higher) !important;
}

// -----------------------------------------------------------------------------
// Help - Button
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Preorder - Chill // ----------------------------------------------------------------------

@mixin btn-hero {
  height: 50px;
  background: rgba(0, 0, 0, 0.35);
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  font-size: 16px;
  font-weight: 700;
}

/* #Buttons - Submit */
#stamped-button-submit,
.stamped-summary-actions-newreview,
.stamped-summary-actions-newquestion {
  transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out,
    color 0.2s ease-in-out;
  white-space: nowrap;

  height: var(--btn-height-lg) !important;
  padding: 0 14px !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  letter-spacing: 0.025em !important;
}
#stamped-button-submit {
  line-height: 40px !important;
}

/* #Button - Kickstarter
================================================== */
.-kickstarter,
.-indiegogo {
  border: none !important;
  img {
    height: 44px;
  }
}
.-indiegogo {
  background: $palette-indiegogo-primary !important;
  &:hover {
    background: $palette-indiegogo-dark !important;
  }
}

/* #Button - Flits / Social login
================================================== */
.flits-btn span {
  color: var(--color-max) !important;
}

.flits-wsl-heart-empty {
  fill: var(--color-contrast-low) !important;
}
