/* Product gallery */

#product-images {
  @include md-max() {
    margin-top: -40px;
    @include width-100();
  }
  @include md() {
    position: sticky;
    top: 0;
  }
}

.gallery-wrap {
  display: inline-flex;
  flex-direction: row-reverse; // left-align gallery
  width: 100%;
  @include md() {
    padding-right: var(--space-lg);
  }
}

.product_gallery {
  width: 100%;
}

.product_gallery_nav {
  display: none !important;
  @include md() {
    margin-right: var(--space-md);
    display: inline-flex !important;
    flex-direction: column;
  }
  .gallery-cell {
    max-width: 60px;
    width: 100%;
    position: relative;
    img {
      border-radius: var(--radius-sm);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
      transition: box-shadow 0.27s ease-in-out,
        -webkit-box-shadow 0.27s ease-in-out;
      will-change: box-shadow;
      @include filter-egg();
      &:hover {
        box-shadow: 0 0 0 1px var(--color-contrast-medium);
      }
    }
  }

  .gallery-cell.is-nav-selected img {
    box-shadow: 0 0 0 2px var(--color-contrast-medium);
  }
}

.overlay-bottom {
  background: linear-gradient(
    180deg,
    rgba(123, 123, 123, 0) 56.9%,
    #212121 97.58%
  );
  background-blend-mode: multiply;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 200px;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  p {
    margin-top: 2rem;
  }
}

/* Play button thumbnail 
========================= */
.gallery-cell .video-cell {
  position: relative;
}
.play-btn-cell {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}
// -----------------------------------------------------------------------------
// Product Page
// -----------------------------------------------------------------------------

/* Product Page / Thumbnails
================================================== */

/* Images
================================================== */

.product_gallery_nav.product_gallery_nav--bottom-slider .gallery-cell img,
.product_gallery img {
  @include filter-egg();
}

.gallery-cell.is-selected.is-nav-selected {
  @include filter-dim();
}

.product_image .image__container img,
.product_gallery_nav .gallery-cell img {
  @include thumbnail();
}

.gallery-wrap.left-thumbnails .product_gallery_nav {
  @include flexBox(row, null, null);
  @include lg {
    @include flexBox(column, null, null);
  }
  width: 60px;
  .gallery-cell {
    margin-bottom: 5px;
  }
}

.flickity-page-dots {
  bottom: 40px;
  @include lg() {
    display: none !important;
  }
}
