// -----------------------------------------------------------------------------
// This file contains all styles related to the Product Forms
// -----------------------------------------------------------------------------
@import "//app/scss/bundle";

 /* Button spacing */
 .purchase-details {
  margin-bottom: var(--space-md);;
}


.product--overview {
    @include md() {
        max-width: 400px;
    }
}

/* Button [buy] - Full-width */
.purchase-details__buttons {
  margin-left: 0;
  width: 100%;
  margin-top: 0px !important;
}
  
  .product-quantity-box.purchase-details__quantity {
    margin-right: 0px;
    width: 100%;
  }



  #launchtip_upsell_wrapper {
    margin: 0 !important; // Remove upsell spacing
  }