// -----------------------------------------------------------------------------
// This file contains all styles related to the Product Forms
// -----------------------------------------------------------------------------
@import "//app/scss/bundle";

 /* Button spacing */
 .purchase-details {
  margin-bottom: 40px;
}


.product--overview {
    @include xl() {
        max-width: 400px;
        margin-left: 90px;
    }
}

/* Button [buy] - Full-width */
.purchase-details__buttons {
  margin-left: 0;
  width: 100%;
  margin-top: 0px !important;
}
  
  .product-quantity-box.purchase-details__quantity {
    margin-right: 0px;
    width: 100%;
  }


  a.button, .button, button, input[type="submit"], input[type="reset"], input[type="button"], .action_button, a.action_button, input.action_button[type="submit"], input.action_button[type="button"], input.action_button[type="button"], button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    width: 100%;
  }
