// -----------------------------------------------------------------------------
// This file contains all styles related to the Product Pages
// -----------------------------------------------------------------------------
@import "//app/scss/bundle";



.modal p.modal_price, p.modal_price {
    margin-bottom: 0px;
    }

    .modal_price .money {
        color: $color-text-dark;
        font-weight: bold;
        font-size: 24px;
    }

/* Hide percent, declutter */
    .sale.savings,  .sale_banner_product {
        display: none !important;
    }



/* Images
================================================== */

.product_gallery_nav.product_gallery_nav--bottom-slider .gallery-cell img, .product_gallery img {
  @include filter-alabaster();
}

.gallery-cell.is-selected.is-nav-selected {
    @include filter-dim()
}

/* #Features
================================================== */
.prod-desc {
    ul {
      margin-left: -25px;
      position: relative;
    }
    li {
      list-style: none !important;
      font-size: 16px;
      line-height: 28px;
      position: relative;
      padding-left: 32px;
      padding-bottom: 12px;
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'Material Icons';
        content: '\e86c';
        display: inline-block;
        font-size: 21px;
      }
    }
  }
 
  
#tabs, .ui-accordion {
    display: none !important;
}


