$baseline: 1.5rem;
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: 0.875rem;
$font-size-small: 0.9em;
$font-size-smallest: 14px;





$body-lg: 18px;
$body-md: 16px;
$body-sm: 14px;
$body-xs: 12px;