
{% if settings.show_promo-bar %}
    <div class="pre-header padding-y-xs js-pre-header">
        <div class="container max-width-lg position-relative">
            <div class="text-component text-center text-sm padding-x-lg">
            <p>Free shipping & returns | Free Snack Box on orders $400+<a href="{{ section.settings.promo_link }}" class="color-inherit">Learn more</a></p>
            </div>

            <button class="reset pre-header__close-btn js-pre-header__close-btn">
            <svg class="icon" viewBox="0 0 16 16"><title>Close header banner</title><g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line><line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line></g></svg>
            </button>
        </div>
    </div>
{% endif %}




  