.footer {
  margin-bottom: -30px;
}

.footer a {
  text-decoration: none !important;
  &:hover {
    opacity: 0.72 !important;
  }
}

.footer p {
  font-size: var(--text-sm);
  line-height: 1em !important;
  margin-top: 0;
}

.footer {
  background: var(--bg-promo-bar);
  border-top: none !important;
  a {
    color: var(--color-contrast-low) !important;
  }
  @include md-max() {
    .footer-menu-wrap h6 {
      border-top: 1px solid var(--color-contrast-medium);
    }
  }
}

.credits {
  color: var(--color-contrast-medium);
}

.footer_credits {
  border-top: 1px solid var(--color-contrast-medium);
  margin-top: 70px;
  a {
    font-size: var(--text-sm);
    color: var(--color-contrast-medium) !important;
  }
}

.payment_methods,
.footer-logo {
  display: none !important;
}
