// -----------------------------------------------------------------------------
// This file contains all styles related to navigation
// -----------------------------------------------------------------------------
@import "//app/scss/bundle";

:root {
  --mega-nav-height: 50px;
  --mega-nav-content-max-width: var(
    --max-width-lg
  ); // set max-width for navigation content
  --promo-banner-height: 40px;
  --header-height: calc(var(--mega-nav-height) + var(--promo-banner-height));
  @include md() {
    --header-height: calc(
      var(--mega-nav-height) + var(--promo-banner-height) +
        var(--promo-banner-height)
    );
  }
  @include md() {
    --mega-nav-height: 70px;
  }
}

.menu.right {
  display: flex;
}

// -----------------------------------------------------------------------------
// Mobile
// -----------------------------------------------------------------------------
#header span.menu_title {
  display: none !important;
}

/* #Menu [Open] - Link color
  ================================================== */
a.parent-link--true,
.icon-down-arrow:before,
a#customer_login_link,
#mobile_menu li a {
  color: var(--color-contrast-higher);
}

/* #Menu [Open] - Hide images
  ================================================== */
.mobile-mega-menu_block img {
  display: none !important;
}

/* #Menu [Open] - List style
  ================================================== */
#mobile_menu ul {
  padding: 0 !important;
  margin: 0 !important;
}

li.mobile-mega-menu_block,
#mobile_menu li {
  background: var(--color-bg);
  margin-bottom: 2px;
}

.mobile-mega-menu.hidden,
#mobile_menu li {
  padding-left: 0 !important;
}

/* Sub-menu border */
li.mobile-mega-menu_block a,
#mobile_menu li a {
  border-top: 1px solid var(--color-contrast-low);
}

/* Main Menu
  ================================================== */
/* Menu Titles */
li.nav-title {
  font-size: var(--text-sm) !important;
  color: var(--color-contrast-medium) !important;
  background: transparent !important;
  text-transform: uppercase !important;
  padding: 0 !important;
  margin-left: -15px !important;
}

.menu li {
  a {
    padding: var(--space-sm); // Spacing between list items
  }
}

/* Sale */
.link-sale {
  padding-left: var(--space-md);
  color: var(--color-accent);
  a,
  i,
  p {
    color: var(--color-accent) !important;
  }
  p {
    margin-top: 0 !important;
  }
  .icon {
    padding-top: 0px;
  }
}

// -----------------------------------------------------------------------------
// Top / Container
// -----------------------------------------------------------------------------

div.is-absolute {
  position: relative !important;
}

/* Promo Banner
  ================================================== */
/* Remove white space above hero [home] */
.index.promo_banner-show #pagecontent {
  padding-bottom: 0px !important;
}

.index-sections .under-menu:nth-child(1) {
  margin-top: 0px !important;
}

/* Secondary
  ================================================== */
.top_bar {
  padding: 0 var(--space-md);
  background-color: var(--bg-header-accent);
  @include md-max() {
    width: 100% !important;
    height: var(--mega-nav-height) !important;
    padding: 0 var(--space-sm);
    box-shadow: var(--shadow-xs);
  }
  a {
    font-size: var(--text-sm);
  }
}

/* Main
  ================================================== */
.main_nav {
  height: var(--mega-nav-height);
  width: 100%;
}

.main_nav_wrapper {
  background-color: var(--bg-header) !important;
  box-shadow: var(--shadow-xs);
  @include flexBox(row, center, null);
  @include centerMargin();
  @include size(100%);
  z-index: 999999;
}

.nav {
  height: var(--mega-nav-height);
  width: 100% !important;
  @include flexBox(row, space-between, null);
  ul.menu {
    padding-top: 6px !important;
  }
}

.dropdown_link--vertical,
.dropdown_link,
.top_link,
.sublink {
  &:hover {
    //rm opacity: 0.7 !important;
  }
}

.vertical-menu li {
  padding-right: var(--space-unit) !important;
}

/* Main / Search
    ================================================== */

.search__results {
  @include shadow-menu();
  margin-top: 7px;
}

.search_form input {
  border-radius: 22px;
  background: var(--bg-header-accent);
  border: none !important;
  &:active,
  &:focus {
    border-radius: 22px;
    background: var(--bg-header-accent);
    border: none !important;
  }
}

/* Hide placeholder text on click */
.search_form input:focus::placeholder {
  color: transparent;
}
.menu li.search_container {
  width: 280px !important;
  margin-left: 40px;
}

/* Main / Links 
    ================================================== */
/* Make full height */
.menu a,
.menu a:visited,
.menu a:active,
#header span.menu_title,
.menu a span,
select.currencies,
.mini_cart span {
  height: 100%;
}

.vertical-menu li {
  height: 100%;
}

/* Main / Logo
    ================================================== */
div.logo {
  margin-right: var(--space-md);
  max-width: 125px;
}

/* #Menu [Closed] - Logo size
  ================================================== */
a.mobile_logo img {
  height: 26px !important;
}

// -----------------------------------------------------------------------------
// Top / Menu / Dropdown
// -----------------------------------------------------------------------------
.vertical-menu_submenu,
.dropdown_content,
div.dropdown.menu {
  background: var(--color-max) !important;
  @include rounded();
  @include shadow-menu();
}

.vertical-menu_submenu {
  li a,
  a {
    color: var(--color-contrast-medium) !important;
    &:hover,
    &:active,
    &:focus {
      background: var(--color-contrast-lower);
      @include rounded();
    }
  }
}
.mobile-mega-menu p,
.sublink a {
  color: var(--color-contrast-medium);
}

.menu a.top_link:hover,
.menu a.dropdown_link:hover,
.menu a.active_link {
  //rm border-bottom: 2px solid var(--color-contrast-high);
}

/* Container- width */
.dropdown {
  @include md-max() {
    width: 100% !important;
    height: calc(100% - var(--header-height));
    overflow: hidden;
  }
  overflow-x: hidden;
  width: 1180px !important;
  position: absolute;
  left: 0;
  margin: auto;
  @include md() {
    right: 0;
  }
}

.vertical-menu_submenu,
.dropdown_content,
div.dropdown.menu {
  border-radius: 0 0 4px 4px;
  margin-top: 0px;
}
.menu .vertical-menu_submenu {
  margin-top: 0px;
}

// Indent child list

#mobile_menu {
  margin: 10px 0;
}

#header a.parent-link--true {
  padding-left: var(--space-unit);
}

@include md-max() {
  .mobile-mega-menu_block,
  .sublink {
    a {
      padding-left: 30px;
    }
  }
}

@include md-max() {
  .dropdown_container:before {
    content: "";
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
  }
}

// -----------------------------------------------------------------------------
// Top / Menu / Mega-menu
// -----------------------------------------------------------------------------

.dropdown_column {
  @include flexBox(null, center, center);
  border-top: 4px solid var(--color-contrast-lower);
  border-left: 2px solid var(--color-contrast-lower);
  p {
    margin-top: 0 !important;
    font-size: var(--text-md);
  }
  &:hover {
    background-color: alpha(var(--color-primary-lighter), 0.4);
    border-top: 4px solid var(--color-primary);
    img {
      filter: saturate(1) brightness(0.97) !important;
      -webkit-filter: saturate(1) brightness(0.97) !important;
    }
    p {
      color: var(--color-contrast-higher);
    }
  }

  img {
    margin-bottom: 0;
    filter: saturate(0) !important;
    -webkit-filter: saturate(0) !important;
  }
}

.mega-menu__image-caption-link {
  img {
    @include sizeMax(200px, 200px);
  }
  a {
    height: auto;
    width: 100% !important;
    padding: var(--space-sm);
    &:hover {
      a p {
        color: var(--color-contrast-high) !important;
      }
      img {
        filter: saturate(1) brightness(0.97) !important;
        -webkit-filter: saturate(1) brightness(0.97) !important;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Top / Promo Banner
// -----------------------------------------------------------------------------

/* Keep Promo open */
.promo_banner-close {
  display: none !important;
}

.promo_banner {
  height: var(--promo-banner-height) !important;
  background-color: var(--bg-promo-bar);
  color: var(--color-max);
  &:hover {
    cursor: pointer;
  }
}
/* Hide extra text on mobile */
#header > div:nth-child(1) > div:nth-child(1) > p:nth-child(2) {
  display: none;
}

// -----------------------------------------------------------------------------
// Sidebar
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Main Nav [Update]
// -----------------------------------------------------------------------------

/* #Main Nav - [Base]
  ================================================== */
.mega-menu {
  a {
    color: var(--color-contrast-medium) !important;
    font-weight: 500 !important;
  }
  .dropdown_title a {
    text-transform: uppercase !important;
    color: var(--color-contrast-medium);
    cursor: default !important;
    @include base-BodyUppercase();
    margin: 0 0 3px;
    &:hover {
      cursor: default !important;
    }
  }
  .image-element__wrap {
    width: 130px; // Product image
  }
}

// -----------------------------------------------------------------------------
// Mobile Nav [Update]
// -----------------------------------------------------------------------------

/* #Mobile Nav - [Base]
  ================================================== */

/* Fixed header */
#header {
  position: fixed !important;
  width: 100vw !important;
  display: block;
  z-index: 999 !important;
  @include md() {
    margin-top: calc(var(--header-height) * -1);
  }
}

.collection-template-section,
.index-sections {
  margin-top: var(--header-height);
}

#shopify-section-product-template .content {
  @include md-max() {
    margin-top: 0; // remove whitespace above thumbnail on mobile
  }
}

.container.main.content {
  min-height: 50vh; // no whitespace below footer
  @include md() {
    padding-top: var(--space-xl);
    margin-top: var(--header-height);
  }
}

.customers-login,
.content {
  @include md-max() {
    margin-top: var(--header-height);
  }
}

.mobile_nav-fixed--true #pagecontent,
.mobile_nav-fixed--false #pagecontent {
  padding-bottom: 0px !important;
}

/* Pages / Support */
.shogun-tab-box {
  color: var(--color-contrast-higher) !important;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  margin-left: -4px;
  padding: 21px 12px;
  @include sm() {
    padding: 21px 18px;
  }
}
.shogun-heading-component h1 {
  color: var(--color-contrast-higher) !important;
}

/* Active */
.shogun-tabs > li.shogun-tab-active > .shogun-tab-box {
  background-color: var(--color-contrast-lower) !important;
  .shogun-tab-title {
    color: var(--color-contrast-higher) !important;
    caret-color: transparent;
  }
  &:hover {
    background-color: var(--color-contrast-lower) !important;
    .shogun-tab-title {
      color: var(--color-contrast-higher) !important;
      caret-color: transparent;
    }
  }
}

// -----------------------------------------------------------------------------
// Product
// -----------------------------------------------------------------------------

/* #SubNav Bar - Base Styles 
================================================== */
.subnav {
  @include md-max() {
    @include flexBox(null, null, null);
    top: 60px !important;
  }
  box-shadow: var(--shadow-xs);
  background-color: var(--color-max);
  z-index: 99;
  height: 65px;
  overflow: hidden;
  position: fixed;
  width: 100vw !important;
  /* Product nav - over cart */
  &:before {
    z-index: 99 !important;
  }
  .purchase-details__buttons {
    margin-top: 0;
  }
  button {
    height: 100%;
    width: var(--space-lg);
  }
  &__link {
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    padding: 21px 12px;
    @include md-max() {
      white-space: break-spaces;
      padding: 0;
      max-width: 160px;
    }
  }
}

.subnav__link:not(.base-BodyTitle),
.shogun-tab-box {
  &:hover {
    background: var(--color-bg);
    color: var(--color-contrast-higher);
  }
}

/* #Sticky - Custom buy button
  ================================================== */
/* Product nav - position below main nav */

/* Hide custom buy button  */
.sticky-fade {
  display: none !important;
}

/* #Sticky - Make subnav stick
================================================== */
#stickThis.stick {
  margin-top: 0;
  position: fixed;
  top: 100px !important;
  z-index: 99;
  @include md-max() {
    top: 60px !important;
  }
}

#stick-here {
  top: 40px;
  position: absolute;
}

/* #Sticky - Buy buttons
================================================== */
.sticky-buy {
  position: fixed;
  width: 400px !important;
  top: 112px;
  z-index: 100;
  @include md-max() {
    width: 150px !important;
    top: 70px;
    right: var(--space-unit);
  }
  .shopify-payment-button__more-options {
    display: none;
  }
}

/* #Search - Snize
================================================== */
body .snize-ac-results.snize-ac-results-mobile {
  margin-top: var(--header-height) !important;
}
