.shogun-accordion-heading {
  padding-left: 0 !important;
}

.shogun-accordion {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
  border-bottom: $border-dotted !important;
}

/* 5f317b94624e08006b1d23e1.css | https://cdn.getshogun.com/5f317b94624e08006b1d23e1.css */

.shogun-accordion-icon > span {
  /* color: rgba(33, 33, 33, 1); */
  color: var(--color-contrast-medium) !important;
}

.shogun-accordion-title {
  /* color: rgba(33, 33, 33, 1); */
  color: var(--color-contrast-high) !important;
}

.shg-c {
  // height: 100%;
}

/* Pages / Support */
.shogun-tab-box {
  color: var(--color-contrast-higher) !important;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  margin-left: -4px;
  padding: 21px 12px;
  @include sm() {
    padding: 21px 18px;
  }
}
.shogun-heading-component h1 {
  color: var(--color-contrast-higher, hsl(240, 8%, 12%)) !important;
  line-height: var(--heading-line-height, 1.2) !important;
  letter-spacing: var(--letter-spacing-tight) !important;
  font-size: var(--text-xxl, 2.074em) !important;
  font-weight: 900 !important;
}

/* Active */
.shogun-tabs > li.shogun-tab-active > .shogun-tab-box {
  background-color: var(--color-primary-lighter) !important;
  .shogun-tab-title {
    color: var(--color-contrast-higher) !important;
    caret-color: transparent;
  }
  &:hover {
    background-color: var(--color-contrast-lower) !important;
    .shogun-tab-title {
      color: var(--color-contrast-higher) !important;
      caret-color: transparent;
    }
  }
}

.shogun-tab-title {
  color: var(--color-contrast-higher) !important;
}

// Packed tabs
.shogun-tabs li {
  flex-grow: 0 !important;
}
