/* #Layout
================================================== */
table {
  margin-bottom: 0 !important;
}

/*Remove table padding */
div#tabs > div,
div.custom-product-description-tabs > div,
div#tabs-app-accordion > div {
  padding: 0 !important;
}

/*
td {
  @include flexBox(column,flex-start,flex-start)
}
*/

/* One column */
.one-up {
  td,
  th {
    width: calc(100% / 1) !important;
  }
}

/* Two columns */
.two-up {
  td,
  th {
    width: calc(100% / 2) !important;
    float: left;
  }
}

/* Three columns */
.three-up {
  td,
  th {
    width: calc(100% / 3) !important;
    float: left;
  }
}

/* Four columns */
.four-up {
  td,
  th {
    width: calc(100% / 4) !important;
    float: left;
  }
}

/* Five columns */
.five-up {
  td,
  th {
    width: calc(100% / 5) !important;
    float: left;
  }
}

/* Six columns */
.six-up {
  td,
  th {
    width: calc(100% / 6) !important;
    float: left;
  }
}

/* #Grid - [Container] */
.flex-100 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 0px;
  padding: 0;
  list-style: none;
  width: 100%;
}

.overflow-container {
  position: relative;
}

/* #Specs
================================================== */
.table.table-striped {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  @include rounded();
  @include animateMd();

  thead th {
    vertical-align: bottom;
  }
  th {
    text-align: left;
    padding: 30px 0px;
    line-height: 17px;
    font-weight: normal;
    font-style: normal;
  }
  tr {
    border-top: 1px solid var(--color-contrast-lower);
  }
}

/* First column */
.table.table-striped th:nth-child(1) {
  font-weight: 500;
}

/* Head */
.table-head {
  @include table-head();
  border-top: none !important;
}

/* #Specs - Expand/Collapse
================================================== */
.table tbody tr:nth-child(n + 6) {
  @include animateMd();
}

.toggle {
  cursor: pointer;
  position: relative;
  width: 100%;
  @include animateMd();
  &:after {
    content: "+";
    display: inline;
    position: absolute;
    right: 30px;
    font-size: 35px;
    font-weight: 300;
  }
}

/*
.open {
  @include animateMd();
  color: rgba(0,0,0,.54);
    &:after {
    content: "-";
    display: inline;
    position: absolute;
    right: 30px;
    font-size: 60px;
    font-weight: 200;
  }
}
*/

.show {
  display: table-row !important;
  @include animateMd();
}

.overflow-container {
  position: relative;
}
