.svg {
  fill: var(--color-contrast-higher);
  @include animateFast();
  &:hover {
    fill: var(--color-contrast-medium);
    @include animateFast();
  }
}

// .icon {
//   @include flexBox(null, center, center);
// }

@include md {
  .sidebar-wrap > div {
    @include flexBox(column, flex-start, flex-start);
  }
}
.cart_info {
  @include flexBox(row, center, center);
}
.info-item {
  @include md-max() {
    display: flex;
  }
  &--banner {
    @include flexBox(row, center, center);
    height: 40px;
  }
  &--product {
    margin-bottom: var(--space-unit);
  }
  &--top-bar {
    @include flexBox(row, null, center);
  }
}
/* Minicart [desktop] */
.top_bar [class^="icon-"]::before,
.top_bar [class*=" icon-"]::before,
.mini_cart {
  font-size: 20px;
}
.icon-user {
  display: flex !important;
}

/* #Top Bar - Phone number
================================================== */
.info-item--top-bar {
  .icon {
    bottom: 0px;
    color: var(--color-contrast-high);
  }
}

.validator-item {
  &:hover {
    @include icon--display();
    h5 {
      color: var(--color-primary) !important;
    }
  }
  @include md-max {
    flex: 40%;
  }
}

/* #Top Bar - Mobile
================================================== */
/* All icons */
[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-weight: 600;
}

#header .top_bar a.icon-bag::before,
#header .top_bar a.icon-cart::before {
  font-size: 24px !important;
}

#header .top_bar .icon-search::before {
  font-size: 22px;
  font-weight: 700;
}

/* Clickable */
a.mobile_nav {
  z-index: 999 !important;
}

// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

/* Top / Search
  ================================================== */

/* #Menu [Closed] - 2-line Hamburger
  ================================================== */
.mobile_nav div {
  width: 28px;
  span:nth-child(1) {
    visibility: hidden;
  }
  span:nth-child(2) {
    visibility: hidden;
    height: 2px !important;
  }
  span:nth-child(3) {
    top: 16px;
    height: 2px !important;
    background-color: var(--color-contrast-higher);
  }
  span:nth-child(4) {
    top: 25px;
    height: 2px !important;
    background-color: var(--color-contrast-higher);
  }
}
/* Open */
.mobile_nav div.open {
  span:nth-child(2) {
    visibility: visible;
    top: 17px !important;
    background-color: var(--color-contrast-higher);
  }
}

.menu {
  .icon-down-arrow {
    display: none !important;
  }
}

#mobile_menu li a span.icon-down-arrow {
  position: absolute !important;
  top: 11px;
  transition: 0s !important;
  display: block !important;
  padding-right: var(--space-lg) !important;
  &:before {
    font-weight: 700 !important;
    color: var(--color-contrast-medium) !important;
  }
}

.footer-menu-wrap .active span,
.footer-menu-wrap span.active,
#mobile_menu .active span,
#mobile_menu span.active,
.sidebar .active span,
.sidebar span.active {
  top: -11px !important;
  transition: 0s !important;
}

/* #Icon / Cart
    ================================================== */

.cart_count-bubble {
  height: 16px !important;
  min-width: 16px;
  background: var(--color-accent);
  position: absolute;
  top: 4px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  left: 16px;

  .cart_count {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 700;
    color: var(--color-white) !important; // number color
  }
}

/* Hide native active/hover box effect */
.cart_container.active_link .mini_cart,
.cart_container.active_link .mini_cart span {
  background-color: transparent;
  color: var(--color-max) !important;
}

// -----------------------------------------------------------------------------
// Cart
// -----------------------------------------------------------------------------
/* Cart quantity icons - was too large */
.icon-plus,
.icon-minus {
  &:before {
    font-size: var(--text-sm);
  }
}

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
/* Button with Icon */
.info-item {
  @include flexBox(null, null, center);
}
