// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Screen size variables
$screen-xs-min: 425px; // Tiny phones
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1280px; // Large tablets and desktops

$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 21px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$width-sm: 720px;

// Text colors
$color-body-text: var(--color-body-text);

// Background colors
$color-body: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;

$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid
$grid-medium: 46.85em;
$grid-large: 61.85em;
$grid-widescreen: 87.5em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;

// Breakpoints used with the media-query mixin
$small: "small";
$medium: "medium";
$medium-down: "medium-down";
$medium-up: "medium-up";
$large: "large";
$large-down: "large-down";
$large-up: "large-up";
$widescreen: "widescreen";

$breakpointss: (
  $small "(max-width: #{$grid-medium - 1})",
  $medium "(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})",
  $medium-down "(max-width: #{$grid-large - 1})",
  $medium-up "(min-width: #{$grid-medium})",
  $large "(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})",
  $large-down "(max-width: #{$grid-widescreen - 1})",
  $large-up "(min-width: #{$grid-large})",
  $widescreen "(min-width: #{$grid-widescreen})"
);
